openapi: 3.2.0
info:
  title: nCino Mortgage Region Branches API
  description: API framework built from the ground up to be more a robust, forward thinking solution with tools to support our developer community
  version: '1.0'
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://api.ncinomortgage.com
  description: Production server
security:
- OAuth2: []
tags:
- name: Region Branches
  description: Endpoints pertaining to a region's <<glossary:branch>>es
paths:
  /regions/{region_id}/branches:
    post:
      tags:
      - Region Branches
      operationId: region_branches-create
      parameters:
      - name: region_id
        description: Region ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        '201':
          description: Created branch
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceCreated'
          headers:
            X-Api-Version:
              $ref: '#/components/headers/ApiVersionResponseHeader'
            X-Api-Supported-Versions:
              $ref: '#/components/headers/ApiSupportedVersionsResponseHeader'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      description: This endpoint will create a <<glossary:branch>> in the platform under a given <<glossary:region>>.
      summary: Create a new branch for given region
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BranchPostBody'
    get:
      tags:
      - Region Branches
      operationId: region_branches-index
      parameters:
      - name: region_id
        description: Region ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - name: state
        description: State by which to filter branches.
        required: false
        in: query
        schema:
          $ref: '#/components/schemas/StateCode'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/CreatedAfter'
      - $ref: '#/components/parameters/CreatedBefore'
      - $ref: '#/components/parameters/UpdatedAfter'
      - $ref: '#/components/parameters/UpdatedBefore'
      - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BranchPagination'
          headers:
            X-Api-Version:
              $ref: '#/components/headers/ApiVersionResponseHeader'
            X-Api-Supported-Versions:
              $ref: '#/components/headers/ApiSupportedVersionsResponseHeader'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      description: This endpoint will retrieve a list of <<glossary:branch>>es under a given <<glossary:region>>.
      summary: Retrieve a region's branches
  /regions/{region_id}/branches/{branch_id}:
    get:
      tags:
      - Region Branches
      operationId: region_branches-show
      parameters:
      - name: branch_id
        description: Branch ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - name: region_id
        description: Region ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Branch'
          headers:
            X-Api-Version:
              $ref: '#/components/headers/ApiVersionResponseHeader'
            X-Api-Supported-Versions:
              $ref: '#/components/headers/ApiSupportedVersionsResponseHeader'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      description: This endpoint will retrieve a specific <<glossary:branch>> under a given <<glossary:region>>.
      summary: Retrieve a specific branch
    patch:
      tags:
      - Region Branches
      operationId: region_branches-update
      parameters:
      - name: branch_id
        description: Branch ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - name: region_id
        description: Region ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        '204':
          description: Successfully updated branch
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoContent'
          headers:
            X-Api-Version:
              $ref: '#/components/headers/ApiVersionResponseHeader'
            X-Api-Supported-Versions:
              $ref: '#/components/headers/ApiSupportedVersionsResponseHeader'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      description: This endpoint will update a <<glossary:branch>> under a given <<glossary:region>>.
      summary: Update a branch's information
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BranchPatchBody'
    delete:
      tags:
      - Region Branches
      operationId: region_branches-destroy
      parameters:
      - name: branch_id
        description: glossary:Branch ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - name: region_id
        description: glossary:Region ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        '201':
          description: Created asynchronous job to delete branch.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceCreated'
          headers:
            X-Api-Version:
              $ref: '#/components/headers/ApiVersionResponseHeader'
            X-Api-Supported-Versions:
              $ref: '#/components/headers/ApiSupportedVersionsResponseHeader'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      description: 'This endpoint will update a <<glossary:branch>> under a given <<glossary:region>>.


        > 🙇 Heads up!

        **The branch is not deleted immediately, but deleted in an <<glossary:asynchronous job>>.**'
      summary: Delete a branch
components:
  responses:
    ForbiddenError:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorSet'
      headers:
        X-Api-Version:
          $ref: '#/components/headers/ApiVersionResponseHeader'
        X-Api-Supported-Versions:
          $ref: '#/components/headers/ApiSupportedVersionsResponseHeader'
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorSet'
      headers:
        X-Api-Version:
          $ref: '#/components/headers/ApiVersionResponseHeader'
        X-Api-Supported-Versions:
          $ref: '#/components/headers/ApiSupportedVersionsResponseHeader'
    NotFoundError:
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorSet'
      headers:
        X-Api-Version:
          $ref: '#/components/headers/ApiVersionResponseHeader'
        X-Api-Supported-Versions:
          $ref: '#/components/headers/ApiSupportedVersionsResponseHeader'
    UnauthorizedError:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorSet'
      headers:
        X-Api-Version:
          $ref: '#/components/headers/ApiVersionResponseHeader'
        X-Api-Supported-Versions:
          $ref: '#/components/headers/ApiSupportedVersionsResponseHeader'
    BadRequestError:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorSet'
      headers:
        X-Api-Version:
          $ref: '#/components/headers/ApiVersionResponseHeader'
        X-Api-Supported-Versions:
          $ref: '#/components/headers/ApiSupportedVersionsResponseHeader'
  schemas:
    AbstractResourceModel:
      allOf:
      - $ref: '#/components/schemas/AbstractModel'
      - type: object
        properties:
          id:
            type: string
            format: uuid
            description: Unique identifier for the record.
        required:
        - id
        additionalProperties: false
    NoContent:
      type: object
      properties: {}
      additionalProperties: false
    Error:
      type: object
      properties:
        id:
          type: string
          description: A unique ID (useful as a reference when debugging an error with support)
        status:
          type: integer
          description: The HTTP status code
        title:
          type: string
          description: A generic title
        detail:
          type: string
          description: A detailed message
        _links:
          type: object
          description: A list of relevant links
      required:
      - id
      - status
      - title
      example:
        id: 123abc
        status: 400
        title: Generic title for the error
        detail: Detailed message for the error
        _links:
          resource: contextual resource if applicable
    ResourceCreated:
      allOf:
      - $ref: '#/components/schemas/AbstractResourceModel'
      description: Resource created model
    BranchPagination:
      allOf:
      - $ref: '#/components/schemas/AbstractPagination'
      - type: object
        properties:
          contents:
            type: array
            items:
              $ref: '#/components/schemas/Branch'
        required:
        - contents
    AbstractModel:
      type: object
      properties:
        _self:
          type: string
          description: The model's resource link to itself.
        _type:
          type: string
          description: The model's type.
        _links:
          type: object
          description: A list of links for the model's associations.
      required:
      - _self
      - _type
      additionalProperties: false
    BranchPostBody:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
          description: Branch's name.
        address:
          allOf:
          - $ref: '#/components/schemas/InputAddress'
          description: Branch's address.
        nmls:
          type:
          - string
          - 'null'
          minLength: 1
          maxLength: 255
          description: Branch's NMLS ID.
      required:
      - name
      description: Available properties for creating a branch
      additionalProperties: false
    EmptyString:
      type: string
      enum:
      - ''
      description: An empty string.
    ErrorSet:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
      required:
      - errors
      example:
        errors:
        - id: 123abc
          status: 400
          title: Generic title for the error
          detail: Detailed message for the error
          _links:
            resource: contextual resource if applicable
    BranchPatchBody:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
          description: Branch's name.
        address:
          allOf:
          - $ref: '#/components/schemas/InputAddress'
          description: Branch's address.
        nmls:
          type:
          - string
          - 'null'
          minLength: 1
          maxLength: 255
          description: Branch's NMLS ID.
      description: Available properties for updating a branch
      additionalProperties: false
      minProperties: 1
    Branch:
      allOf:
      - $ref: '#/components/schemas/AbstractResourceModel'
      - type: object
        properties:
          name:
            type: string
            description: Branch's name.
          nmls:
            type:
            - string
            - 'null'
            description: Branch's NMLS ID.
          created_at:
            type:
            - string
            - 'null'
            format: date-time
            description: Timestamp of when the branch was created.
          updated_at:
            type:
            - string
            - 'null'
            format: date-time
            description: Timestamp of when the branch was last updated.
          logo_url:
            type:
            - string
            - 'null'
            description: Branch's logo URL.
          app_icon_url:
            type:
            - string
            - 'null'
            description: Branch's app icon URL.
          address:
            allOf:
            - $ref: '#/components/schemas/Address'
            description: Branch's address.
          website_url:
            type:
            - string
            - 'null'
            format: http_uri
            description: Branch's website.
          rss_feed_url:
            type:
            - string
            - 'null'
            format: http_uri
            description: Branch's RSS URL.
          installation_base_url:
            type:
            - string
            - 'null'
            format: http_uri
            description: URL to install the branch's app.
          privacy_policy_url:
            type:
            - string
            - 'null'
            format: http_uri
            description: Branch's privacy policy URL.
          borrower_base_url:
            type:
            - string
            - 'null'
            format: http_uri
            description: Branch's borrower base URL.
          terms_of_use_url:
            type:
            - string
            - 'null'
            format: http_uri
            description: Branch's terms of use URL.
          custom_short_base_url:
            type:
            - string
            - 'null'
            format: http_uri
            description: Branch's custom URL.
          consumer_access_url:
            type:
            - string
            - 'null'
            format: http_uri
            description: Branch's consumer access URL.
        additionalProperties: false
      description: Branch model
    AbstractPagination:
      allOf:
      - $ref: '#/components/schemas/AbstractCollection'
      - type: object
        properties:
          total_pages:
            type: integer
            description: The total number of pages in the collection.
          total:
            type: integer
            description: The total number of items in the collection.
        additionalProperties: false
    InputAddress:
      type: object
      properties:
        street1:
          type:
          - string
          - 'null'
          minLength: 1
          maxLength: 255
          description: Street line 1
        street2:
          type:
          - string
          - 'null'
          maxLength: 255
          description: Street line 2
        city:
          type:
          - string
          - 'null'
          minLength: 1
          maxLength: 255
          description: City
        state:
          allOf:
          - $ref: '#/components/schemas/StateCode'
          description: State
        zip:
          type:
          - string
          - 'null'
          minLength: 5
          maxLength: 10
          description: Zip code
      additionalProperties: false
    AbstractCollection:
      allOf:
      - $ref: '#/components/schemas/AbstractModel'
      - type: object
        properties:
          contents:
            type: array
            items:
              type: object
            description: The contents for the collection.
        required:
        - contents
        additionalProperties: false
    Address:
      allOf:
      - $ref: '#/components/schemas/AbstractModel'
      - type: object
        properties:
          street1:
            type:
            - string
            - 'null'
            description: Street line 1.
          street2:
            type:
            - string
            - 'null'
            description: Street line 2.
          city:
            type:
            - string
            - 'null'
            description: City.
          state:
            oneOf:
            - $ref: '#/components/schemas/StateCode'
            - $ref: '#/components/schemas/EmptyString'
            description: State.
          zip:
            type:
            - string
            - 'null'
            description: Zip code.
        additionalProperties: false
      description: Address model
    StateCode:
      type: string
      enum:
      - AA
      - AE
      - AK
      - AL
      - AP
      - AR
      - AS
      - AZ
      - CA
      - CO
      - CT
      - DC
      - DE
      - FL
      - FM
      - GA
      - GU
      - HI
      - IA
      - ID
      - IL
      - IN
      - KS
      - KY
      - LA
      - MA
      - MD
      - ME
      - MH
      - MI
      - MN
      - MO
      - MP
      - MS
      - MT
      - NC
      - ND
      - NE
      - NH
      - NJ
      - NM
      - NV
      - NY
      - OH
      - OK
      - OR
      - PA
      - PR
      - PW
      - RI
      - SC
      - SD
      - TN
      - TX
      - UT
      - VA
      - VI
      - VT
      - WA
      - WI
      - WV
      - WY
      description: State abbreviated code.
  parameters:
    ApiVersionHeader:
      name: X-Api-Version
      description: Specify API version, for example '1.0'. By default, the version configured in the company settings is used.
      required: false
      in: header
      schema:
        type: string
    CreatedBefore:
      name: created_before
      description: The date which a resource must be created before to be returned.
      required: false
      in: query
      schema:
        type: string
        format: date-time
    UpdatedBefore:
      name: updated_before
      description: The date which a resource must be updated before to be returned.
      required: false
      in: query
      schema:
        type: string
        format: date-time
    Page:
      name: page
      description: The page to retrieve.
      required: false
      in: query
      schema:
        type: integer
    UpdatedAfter:
      name: updated_after
      description: The date which a resource must be updated after to be returned.
      required: false
      in: query
      schema:
        type: string
        format: date-time
    PageSize:
      name: page_size
      description: The number of records returned in each page.
      required: false
      in: query
      schema:
        type: integer
    CreatedAfter:
      name: created_after
      description: The date which a resource must be created after to be returned.
      required: false
      in: query
      schema:
        type: string
        format: date-time
  headers:
    ApiSupportedVersionsResponseHeader:
      description: API supported versions for endpoint.
      schema:
        type: string
    ApiVersionResponseHeader:
      description: API version.
      schema:
        type: string
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth 2.0 Access Token (Default)
      flows:
        clientCredentials:
          tokenUrl: /oauth/token
          scopes: {}
