openapi: 3.2.0
info:
  title: nCino Mortgage Loan Application (Nested) Borrower Incomes API
  description: API framework built from the ground up to be more a robust, forward thinking solution with tools to support our developer community
  version: '1.0'
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://api.ncinomortgage.com
  description: Production server
security:
- OAuth2: []
tags:
- name: Loan Application (Nested) Borrower Incomes
  description: 'Endpoints pertaining to a loan application''s borrower''s income sources.


    > 🚧 Interim identifier scheme

    `_id` is an opaque string, stable only for the lifetime of the loan

    application''s current field ordering. A persisted, stable identifier is

    planned as future work.'
paths:
  /loan_applications/nested/{loan_application_id}/borrower_incomes:
    get:
      tags:
      - Loan Application (Nested) Borrower Incomes
      operationId: loan_application_(nested)_borrower_incomes-index
      parameters:
      - name: loan_application_id
        description: Loan application ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncomePagination'
          headers:
            X-Api-Version:
              $ref: '#/components/headers/ApiVersionResponseHeader'
            X-Api-Supported-Versions:
              $ref: '#/components/headers/ApiSupportedVersionsResponseHeader'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      description: '> 🚧 Under construction

        > **This endpoint is in beta.** Functionality may change without notice, support is limited, and use in production is not recommended. Your feedback is appreciated.


        Retrieves all of the borrower''s income records in a <<glossary:loan application>>.'
      summary: 🚧 Retrieve all of the borrower's income records (BETA)
    post:
      tags:
      - Loan Application (Nested) Borrower Incomes
      operationId: loan_application_(nested)_borrower_incomes-create
      parameters:
      - name: loan_application_id
        description: Loan application ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        '201':
          description: Created income items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncomeCollection'
          headers:
            X-Api-Version:
              $ref: '#/components/headers/ApiVersionResponseHeader'
            X-Api-Supported-Versions:
              $ref: '#/components/headers/ApiSupportedVersionsResponseHeader'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      description: '> 🚧 Under construction

        > **This endpoint is in beta.** Functionality may change without notice, support is limited, and use in production is not recommended. Your feedback is appreciated.


        Creates new income records for the borrower.'
      summary: 🚧 Creates one or more income records for the borrower. (BETA)
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IncomeCollectionCreateBody'
    patch:
      tags:
      - Loan Application (Nested) Borrower Incomes
      operationId: loan_application_(nested)_borrower_incomes-update
      parameters:
      - name: loan_application_id
        description: Loan application ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        '204':
          description: Successfully updated income records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoContent'
          headers:
            X-Api-Version:
              $ref: '#/components/headers/ApiVersionResponseHeader'
            X-Api-Supported-Versions:
              $ref: '#/components/headers/ApiSupportedVersionsResponseHeader'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      description: '> 🚧 Under construction

        > **This endpoint is in beta.** Functionality may change without notice, support is limited, and use in production is not recommended. Your feedback is appreciated.


        Updates multiple income records for the borrower.'
      summary: 🚧 Update multiple income records for the borrower. (BETA)
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IncomeCollectionUpdateBody'
  /loan_applications/nested/{loan_application_id}/borrower_incomes/{record_id}:
    get:
      tags:
      - Loan Application (Nested) Borrower Incomes
      operationId: loan_application_(nested)_borrower_incomes-show
      parameters:
      - name: loan_application_id
        description: Loan application ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - name: record_id
        description: Income record ID.
        required: true
        in: path
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Income'
          headers:
            X-Api-Version:
              $ref: '#/components/headers/ApiVersionResponseHeader'
            X-Api-Supported-Versions:
              $ref: '#/components/headers/ApiSupportedVersionsResponseHeader'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      description: '> 🚧 Under construction

        > **This endpoint is in beta.** Functionality may change without notice, support is limited, and use in production is not recommended. Your feedback is appreciated.


        Retrieves a specific income record by ID.'
      summary: 🚧 Retrieve a specific income record by ID. (BETA)
    patch:
      tags:
      - Loan Application (Nested) Borrower Incomes
      operationId: loan_application_(nested)_borrower_incomes-update_item
      parameters:
      - name: loan_application_id
        description: Loan application ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - name: record_id
        description: Income record ID.
        required: true
        in: path
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        '204':
          description: Successfully updated income record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoContent'
          headers:
            X-Api-Version:
              $ref: '#/components/headers/ApiVersionResponseHeader'
            X-Api-Supported-Versions:
              $ref: '#/components/headers/ApiSupportedVersionsResponseHeader'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      description: '> 🚧 Under construction

        > **This endpoint is in beta.** Functionality may change without notice, support is limited, and use in production is not recommended. Your feedback is appreciated.


        Updates a specific income record by ID.'
      summary: 🚧 Update a specific income record. (BETA)
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IncomeUpdateBody'
    delete:
      tags:
      - Loan Application (Nested) Borrower Incomes
      operationId: loan_application_(nested)_borrower_incomes-destroy
      parameters:
      - name: loan_application_id
        description: Loan application ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - name: record_id
        description: Income record ID.
        required: true
        in: path
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        '204':
          description: Successfully deleted income record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoContent'
          headers:
            X-Api-Version:
              $ref: '#/components/headers/ApiVersionResponseHeader'
            X-Api-Supported-Versions:
              $ref: '#/components/headers/ApiSupportedVersionsResponseHeader'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      description: '> 🚧 Under construction

        > **This endpoint is in beta.** Functionality may change without notice, support is limited, and use in production is not recommended. Your feedback is appreciated.


        Deletes a specific income record by ID.'
      summary: 🚧 Delete a specific income record. (BETA)
components:
  schemas:
    ResourceCollectionCreated:
      allOf:
      - $ref: '#/components/schemas/AbstractCollection'
      - type: object
        properties:
          contents:
            type: array
            items:
              type: object
            description: Array of created resources.
        required:
        - contents
        additionalProperties: false
      description: 'Generic base class for returning multiple created resources with their full

        representations. Extend this class and specify the item type via cattr_reader,

        similar to AbstractPagination.'
    IncomeCollectionCreateBody:
      type: object
      properties:
        records:
          type: array
          items:
            $ref: '#/components/schemas/IncomeCreateBody'
          description: Array of records to create.
      required:
      - records
      description: Body for creating multiple income records.
      additionalProperties: false
    NoContent:
      type: object
      properties: {}
      additionalProperties: false
    Error:
      type: object
      properties:
        id:
          type: string
          description: A unique ID (useful as a reference when debugging an error with support)
        status:
          type: integer
          description: The HTTP status code
        title:
          type: string
          description: A generic title
        detail:
          type: string
          description: A detailed message
        _links:
          type: object
          description: A list of relevant links
      required:
      - id
      - status
      - title
      example:
        id: 123abc
        status: 400
        title: Generic title for the error
        detail: Detailed message for the error
        _links:
          resource: contextual resource if applicable
    AbstractModel:
      type: object
      properties:
        _self:
          type: string
          description: The model's resource link to itself.
        _type:
          type: string
          description: The model's type.
        _links:
          type: object
          description: A list of links for the model's associations.
      required:
      - _self
      - _type
      additionalProperties: false
    IncomeUpdateBody:
      type: object
      properties:
        type:
          type: string
          description: This income source's type.
        amount:
          type: integer
          description: The amount of income from this source.
        frequency:
          type: string
          description: The frequency at which this income is earned.
      description: Body for updating a income record. Pass only the fields to update.
      minProperties: 1
    IncomeCreateBody:
      type: object
      properties:
        owner:
          type: string
          description: 'The borrower who receives this income source: "Borrower", or "Co-borrower". This cannot be updated.'
        type:
          type: string
          description: This income source's type.
        amount:
          type: integer
          description: The amount of income from this source.
        frequency:
          type: string
          description: The frequency at which this income is earned.
      required:
      - owner
      description: Body for creating a new income record.
    ErrorSet:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
      required:
      - errors
      example:
        errors:
        - id: 123abc
          status: 400
          title: Generic title for the error
          detail: Detailed message for the error
          _links:
            resource: contextual resource if applicable
    IncomePagination:
      allOf:
      - $ref: '#/components/schemas/AbstractPagination'
      - type: object
        properties:
          contents:
            type: array
            items:
              $ref: '#/components/schemas/Income'
        required:
        - contents
    AbstractPagination:
      allOf:
      - $ref: '#/components/schemas/AbstractCollection'
      - type: object
        properties:
          total_pages:
            type: integer
            description: The total number of pages in the collection.
          total:
            type: integer
            description: The total number of items in the collection.
        additionalProperties: false
    IncomeCollectionUpdateBody:
      type: object
      properties:
        records:
          type: array
          items:
            $ref: '#/components/schemas/IncomeItemUpdateBody'
          description: Array of records to update.
      required:
      - records
      description: Body for updating multiple income records.
      additionalProperties: false
    Income:
      allOf:
      - $ref: '#/components/schemas/IncomeCreateBody'
      - type: object
        properties:
          _id:
            type: string
            description: Opaque string identifier, stable only for the lifetime of the loan application's current field ordering.
          owner:
            type: string
            description: 'The borrower who receives this income source: "Borrower", or "Co-borrower". This cannot be updated.'
        required:
        - _id
        - owner
      description: A single income record.
    IncomeItemUpdateBody:
      allOf:
      - $ref: '#/components/schemas/IncomeUpdateBody'
      - type: object
        properties:
          _id:
            type: string
            description: Opaque string identifier, stable only for the lifetime of the loan application's current field ordering.
        required:
        - _id
      description: Body for updating a income record. Aside from the ID, pass only the fields to update.
      minProperties: 2
    AbstractCollection:
      allOf:
      - $ref: '#/components/schemas/AbstractModel'
      - type: object
        properties:
          contents:
            type: array
            items:
              type: object
            description: The contents for the collection.
        required:
        - contents
        additionalProperties: false
    IncomeCollection:
      allOf:
      - $ref: '#/components/schemas/ResourceCollectionCreated'
      - type: object
        properties:
          contents:
            type: array
            items:
              $ref: '#/components/schemas/Income'
            description: Array of created income records.
        required:
        - contents
        additionalProperties: false
      description: Collection of income records. Returned when creating multiple records.
  responses:
    ForbiddenError:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorSet'
      headers:
        X-Api-Version:
          $ref: '#/components/headers/ApiVersionResponseHeader'
        X-Api-Supported-Versions:
          $ref: '#/components/headers/ApiSupportedVersionsResponseHeader'
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorSet'
      headers:
        X-Api-Version:
          $ref: '#/components/headers/ApiVersionResponseHeader'
        X-Api-Supported-Versions:
          $ref: '#/components/headers/ApiSupportedVersionsResponseHeader'
    NotFoundError:
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorSet'
      headers:
        X-Api-Version:
          $ref: '#/components/headers/ApiVersionResponseHeader'
        X-Api-Supported-Versions:
          $ref: '#/components/headers/ApiSupportedVersionsResponseHeader'
    UnauthorizedError:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorSet'
      headers:
        X-Api-Version:
          $ref: '#/components/headers/ApiVersionResponseHeader'
        X-Api-Supported-Versions:
          $ref: '#/components/headers/ApiSupportedVersionsResponseHeader'
    BadRequestError:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorSet'
      headers:
        X-Api-Version:
          $ref: '#/components/headers/ApiVersionResponseHeader'
        X-Api-Supported-Versions:
          $ref: '#/components/headers/ApiSupportedVersionsResponseHeader'
  parameters:
    ApiVersionHeader:
      name: X-Api-Version
      description: Specify API version, for example '1.0'. By default, the version configured in the company settings is used.
      required: false
      in: header
      schema:
        type: string
    Page:
      name: page
      description: The page to retrieve.
      required: false
      in: query
      schema:
        type: integer
    PageSize:
      name: page_size
      description: The number of records returned in each page.
      required: false
      in: query
      schema:
        type: integer
  headers:
    ApiSupportedVersionsResponseHeader:
      description: API supported versions for endpoint.
      schema:
        type: string
    ApiVersionResponseHeader:
      description: API version.
      schema:
        type: string
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth 2.0 Access Token (Default)
      flows:
        clientCredentials:
          tokenUrl: /oauth/token
          scopes: {}
