openapi: 3.2.0
info:
  title: nCino Mortgage Loan Borrowers API
  description: API framework built from the ground up to be more a robust, forward thinking solution with tools to support our developer community
  version: '1.0'
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://api.ncinomortgage.com
  description: Production server
security:
- OAuth2: []
tags:
- name: Loan Borrowers
  description: Endpoints pertaining to <<glossary:loan borrower>>s
paths:
  /loans/{loan_id}/borrowers:
    post:
      tags:
      - Loan Borrowers
      operationId: loan_borrowers-create
      parameters:
      - name: loan_id
        description: Loan ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        '201':
          description: Created loan borrower
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceCreated'
          headers:
            X-Api-Version:
              $ref: '#/components/headers/ApiVersionResponseHeader'
            X-Api-Supported-Versions:
              $ref: '#/components/headers/ApiSupportedVersionsResponseHeader'
        '412':
          description: Resource is in an invalid state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSet'
          headers:
            X-Api-Version:
              $ref: '#/components/headers/ApiVersionResponseHeader'
            X-Api-Supported-Versions:
              $ref: '#/components/headers/ApiSupportedVersionsResponseHeader'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      description: '> 🚧 Under construction

        > **This endpoint is in beta.** Functionality may change without notice, support is limited, and use in production is not recommended. Your feedback is appreciated.


        This endpoint will create a <<glossary:loan borrower>> record.'
      summary: 🚧 Create a loan borrower record (BETA)
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoanBorrowerPostBody'
    get:
      tags:
      - Loan Borrowers
      operationId: loan_borrowers-index
      parameters:
      - name: loan_id
        description: Loan ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - name: pair_index
        description: Pair index by which to filter borrowers on the loan.
        required: false
        in: query
        schema:
          type: integer
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/CreatedAfter'
      - $ref: '#/components/parameters/CreatedBefore'
      - $ref: '#/components/parameters/UpdatedAfter'
      - $ref: '#/components/parameters/UpdatedBefore'
      - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BorrowerPagination'
          headers:
            X-Api-Version:
              $ref: '#/components/headers/ApiVersionResponseHeader'
            X-Api-Supported-Versions:
              $ref: '#/components/headers/ApiSupportedVersionsResponseHeader'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      description: '> 🚧 Under construction

        > **This endpoint is in beta.** Functionality may change without notice, support is limited, and use in production is not recommended. Your feedback is appreciated.


        Retrieves a list of borrowers on a loan. <<glossary:Loan borrower>>s are separate from <<glossary:borrower account>>s.

        A loan borrower may or may not have an account in nCino Mortgage.

        The corresponding user borrower account will be listed in the _links object, if available.'
      summary: 🚧 Retrieve all loan borrowers (BETA)
  /loans/{loan_id}/borrowers/{borrower_id}:
    get:
      tags:
      - Loan Borrowers
      operationId: loan_borrowers-show
      parameters:
      - name: borrower_id
        description: Borrower ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - name: loan_id
        description: Loan ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Borrower.Detail'
          headers:
            X-Api-Version:
              $ref: '#/components/headers/ApiVersionResponseHeader'
            X-Api-Supported-Versions:
              $ref: '#/components/headers/ApiSupportedVersionsResponseHeader'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      description: '> 🚧 Under construction

        > **This endpoint is in beta.** Functionality may change without notice, support is limited, and use in production is not recommended. Your feedback is appreciated.


        This endpoint will retrieve a single <<glossary:loan borrower>>.'
      summary: 🚧 Retrieve a loan borrower (BETA)
    patch:
      tags:
      - Loan Borrowers
      operationId: loan_borrowers-update
      parameters:
      - name: borrower_id
        description: Borrower ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - name: loan_id
        description: Loan ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        '204':
          description: Successfully updated loan borrower
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoContent'
          headers:
            X-Api-Version:
              $ref: '#/components/headers/ApiVersionResponseHeader'
            X-Api-Supported-Versions:
              $ref: '#/components/headers/ApiSupportedVersionsResponseHeader'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      description: '> 🚧 Under construction

        > **This endpoint is in beta.** Functionality may change without notice, support is limited, and use in production is not recommended. Your feedback is appreciated.


        This endpoint will update any data provided via body params on the <<glossary:loan borrower>>. Only the body params listed maybe be used.'
      summary: 🚧 Update a loan borrower (BETA)
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoanBorrowerPatchBody'
    delete:
      tags:
      - Loan Borrowers
      operationId: loan_borrowers-destroy
      parameters:
      - name: borrower_id
        description: Borrower ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - name: loan_id
        description: Loan ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        '204':
          description: Successfully deleted loan borrower
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoContent'
          headers:
            X-Api-Version:
              $ref: '#/components/headers/ApiVersionResponseHeader'
            X-Api-Supported-Versions:
              $ref: '#/components/headers/ApiSupportedVersionsResponseHeader'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      description: '> 🚧 Under construction

        > **This endpoint is in beta.** Functionality may change without notice, support is limited, and use in production is not recommended. Your feedback is appreciated.


        This endpoint will delete a <<glossary:loan borrower>>.'
      summary: 🚧 Delete a loan borrower (BETA)
  /loans/{loan_id}/borrowers/{borrower_id}/actions:
    post:
      tags:
      - Loan Borrowers
      operationId: loan_borrowers-actions
      parameters:
      - name: borrower_id
        description: Borrower ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - name: loan_id
        description: Loan ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        '201':
          description: Created <<glossary:asynchronous job>> to process action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceCreated'
          headers:
            X-Api-Version:
              $ref: '#/components/headers/ApiVersionResponseHeader'
            X-Api-Supported-Versions:
              $ref: '#/components/headers/ApiSupportedVersionsResponseHeader'
        '204':
          description: No content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoContent'
          headers:
            X-Api-Version:
              $ref: '#/components/headers/ApiVersionResponseHeader'
            X-Api-Supported-Versions:
              $ref: '#/components/headers/ApiSupportedVersionsResponseHeader'
        '412':
          description: Resource is in an invalid state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSet'
          headers:
            X-Api-Version:
              $ref: '#/components/headers/ApiVersionResponseHeader'
            X-Api-Supported-Versions:
              $ref: '#/components/headers/ApiSupportedVersionsResponseHeader'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      description: 'This endpoint allows a variety of actions to be taken on a <<glossary:loan borrower>>


        > 📌 Available actions

        **ORDER_VERIFICATION** - order verification for the loan borrower (requires Verifications v2 feature be enabled)

        **DISCONNECT_BORROWER** - disconnect loan borrower payroll and bank data connections for verification purposes (requires Verifications v2 feature be enabled)

        **SEND_VERIFICATION_REMINDER** - send email reminder to loan borrower to complete the verification experience (requires Verifications v2 feature be enabled)

        **SET_PRIMARY_BORROWER** - set loan borrower as the primary borrower on the loan.

        **LINK_BORROWER** - link a borrower to a loan'
      summary: Perform action on a loan borrower
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/OrderVerification'
              - $ref: '#/components/schemas/DisconnectBorrower'
              - $ref: '#/components/schemas/SendVerificationReminder'
              - $ref: '#/components/schemas/SetPrimaryBorrower'
              - $ref: '#/components/schemas/LinkBorrower'
              discriminator:
                propertyName: action
                mapping:
                  ORDER_VERIFICATION: '#/components/schemas/OrderVerification'
                  DISCONNECT_BORROWER: '#/components/schemas/DisconnectBorrower'
                  SEND_VERIFICATION_REMINDER: '#/components/schemas/SendVerificationReminder'
                  SET_PRIMARY_BORROWER: '#/components/schemas/SetPrimaryBorrower'
                  LINK_BORROWER: '#/components/schemas/LinkBorrower'
components:
  schemas:
    DisconnectBorrower:
      allOf:
      - $ref: '#/components/schemas/BorrowerAction'
      description: Available properties for disconnecting a borrower from verification vendors
    Borrower:
      allOf:
      - $ref: '#/components/schemas/AbstractResourceModel'
      - type: object
        properties:
          pair_index:
            type: integer
            description: Index (order) of the borrower pair that the borrower belongs to.
          email:
            type:
            - string
            - 'null'
            description: Borrower's email.
          role:
            type: string
            description: Borrower's role type on the loan.
        additionalProperties: false
      description: Borrower model
    BorrowerAction:
      type: object
      properties:
        action:
          type: string
          enum:
          - ORDER_VERIFICATION
          - DISCONNECT_BORROWER
          - SEND_VERIFICATION_REMINDER
          - SET_PRIMARY_BORROWER
          - LINK_BORROWER
          description: Action to perform.
      required:
      - action
      description: Available properties for a borrower action
      additionalProperties: false
    OrderVerification:
      allOf:
      - $ref: '#/components/schemas/BorrowerAction'
      - type: object
        properties:
          order_type:
            allOf:
            - $ref: '#/components/schemas/VerificationOrderType'
            description: Type of verification(s) to order for a borrower.
        required:
        - order_type
        additionalProperties: false
      description: Available properties for ordering a verification for a borrower
    AbstractResourceModel:
      allOf:
      - $ref: '#/components/schemas/AbstractModel'
      - type: object
        properties:
          id:
            type: string
            format: uuid
            description: Unique identifier for the record.
        required:
        - id
        additionalProperties: false
    NoContent:
      type: object
      properties: {}
      additionalProperties: false
    Error:
      type: object
      properties:
        id:
          type: string
          description: A unique ID (useful as a reference when debugging an error with support)
        status:
          type: integer
          description: The HTTP status code
        title:
          type: string
          description: A generic title
        detail:
          type: string
          description: A detailed message
        _links:
          type: object
          description: A list of relevant links
      required:
      - id
      - status
      - title
      example:
        id: 123abc
        status: 400
        title: Generic title for the error
        detail: Detailed message for the error
        _links:
          resource: contextual resource if applicable
    LoanBorrowerPatchBody:
      type: object
      properties:
        first_name:
          type: string
          minLength: 1
          maxLength: 255
          description: Borrower's first name.
        middle_name:
          type:
          - string
          - 'null'
          maxLength: 30
          description: Borrower's middle name.
        last_name:
          type: string
          minLength: 1
          maxLength: 255
          description: Borrower's last name.
        suffix:
          type:
          - string
          - 'null'
          maxLength: 255
          description: Borrower's suffix.
        email:
          type:
          - string
          - 'null'
          format: email
          maxLength: 255
          description: Borrower's email.
        marital_status:
          allOf:
          - $ref: '#/components/schemas/MaritalStatus'
          description: Borrower's marital status.
        dob:
          type:
          - string
          - 'null'
          format: date
          description: Borrower's date of birth.
        cell_phone:
          type:
          - string
          - 'null'
          format: phone
          description: Borrower's cell phone.
        work_phone:
          type:
          - string
          - 'null'
          format: phone
          description: Borrower's work phone.
        home_phone:
          type:
          - string
          - 'null'
          format: phone
          description: Borrower's home phone.
        ssn:
          type:
          - string
          - 'null'
          format: ssn
          description: Borrower's SSN.
        current_address:
          allOf:
          - $ref: '#/components/schemas/InputAddress'
          description: Borrower's current address.
        mailing_address:
          allOf:
          - $ref: '#/components/schemas/InputAddress'
          description: Borrower's mailing address.
      description: Available properties for updating a loan borrower record
      additionalProperties: false
      minProperties: 1
    ResourceCreated:
      allOf:
      - $ref: '#/components/schemas/AbstractResourceModel'
      description: Resource created model
    AbstractModel:
      type: object
      properties:
        _self:
          type: string
          description: The model's resource link to itself.
        _type:
          type: string
          description: The model's type.
        _links:
          type: object
          description: A list of links for the model's associations.
      required:
      - _self
      - _type
      additionalProperties: false
    EmptyString:
      type: string
      enum:
      - ''
      description: An empty string.
    VerificationOrderType:
      type: string
      enum:
      - ALL
      - ASSETS
      - EMPLOYMENT
      description: Types of verification orders.
    Borrower.Preview:
      allOf:
      - $ref: '#/components/schemas/Borrower'
      - type: object
        properties:
          full_name:
            type: string
            description: Borrower's name.
      description: Borrower model (Preview)
    ErrorSet:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
      required:
      - errors
      example:
        errors:
        - id: 123abc
          status: 400
          title: Generic title for the error
          detail: Detailed message for the error
          _links:
            resource: contextual resource if applicable
    LinkBorrower:
      allOf:
      - $ref: '#/components/schemas/BorrowerAction'
      - type: object
        properties:
          user_borrower_id:
            type: string
            format: uuid
            description: ID of the user borrower to link the loan borrower to
        required:
        - user_borrower_id
        additionalProperties: false
      description: Available properties for linking a borrower to a loan.
    LoanBorrowerPostBody:
      allOf:
      - $ref: '#/components/schemas/LoanBorrowerPatchBody'
      - type: object
        properties:
          first_name:
            type: string
            minLength: 1
            maxLength: 255
            description: Borrower's first name.
          last_name:
            type: string
            minLength: 1
            maxLength: 255
            description: Borrower's last name.
        required:
        - first_name
        - last_name
        additionalProperties: false
      description: Available properties for creating a loan borrower record
    SetPrimaryBorrower:
      allOf:
      - $ref: '#/components/schemas/BorrowerAction'
      description: Available properties for setting a borrower as the primary borrower.
    SendVerificationReminder:
      allOf:
      - $ref: '#/components/schemas/BorrowerAction'
      description: Available properties for sending a reminder to a borrower to complete the verification experience.
    AbstractPagination:
      allOf:
      - $ref: '#/components/schemas/AbstractCollection'
      - type: object
        properties:
          total_pages:
            type: integer
            description: The total number of pages in the collection.
          total:
            type: integer
            description: The total number of items in the collection.
        additionalProperties: false
    Borrower.Detail:
      allOf:
      - $ref: '#/components/schemas/Borrower'
      - type: object
        properties:
          first_name:
            type: string
            description: Borrower's first name.
          middle_name:
            type:
            - string
            - 'null'
            description: Borrower's middle name.
          last_name:
            type: string
            description: Borrower's last name.
          suffix:
            type:
            - string
            - 'null'
            description: Borrower's suffix.
          marital_status:
            allOf:
            - $ref: '#/components/schemas/MaritalStatus'
            description: Borrower's marital status.
          dob:
            type:
            - string
            - 'null'
            format: date
            description: Borrower's date of birth.
          cell_phone:
            type:
            - string
            - 'null'
            format: phone
            description: Borrower's cell phone.
          work_phone:
            type:
            - string
            - 'null'
            format: phone
            description: Borrower's work phone.
          home_phone:
            type:
            - string
            - 'null'
            format: phone
            description: Borrower's home phone.
          ssn:
            type:
            - string
            - 'null'
            format: ssn
            description: Borrower's SSN.
          current_address:
            allOf:
            - $ref: '#/components/schemas/Address'
            description: Borrower's current address.
          mailing_address:
            allOf:
            - $ref: '#/components/schemas/Address'
            description: Borrower's mailing address.
          created_at:
            type: string
            format: date-time
            description: Timestamp of when the borrower was created.
          updated_at:
            type: string
            format: date-time
            description: Timestamp of when the borrower was last updated.
      description: Borrower model (Detail)
    InputAddress:
      type: object
      properties:
        street1:
          type:
          - string
          - 'null'
          minLength: 1
          maxLength: 255
          description: Street line 1
        street2:
          type:
          - string
          - 'null'
          maxLength: 255
          description: Street line 2
        city:
          type:
          - string
          - 'null'
          minLength: 1
          maxLength: 255
          description: City
        state:
          allOf:
          - $ref: '#/components/schemas/StateCode'
          description: State
        zip:
          type:
          - string
          - 'null'
          minLength: 5
          maxLength: 10
          description: Zip code
      additionalProperties: false
    AbstractCollection:
      allOf:
      - $ref: '#/components/schemas/AbstractModel'
      - type: object
        properties:
          contents:
            type: array
            items:
              type: object
            description: The contents for the collection.
        required:
        - contents
        additionalProperties: false
    Address:
      allOf:
      - $ref: '#/components/schemas/AbstractModel'
      - type: object
        properties:
          street1:
            type:
            - string
            - 'null'
            description: Street line 1.
          street2:
            type:
            - string
            - 'null'
            description: Street line 2.
          city:
            type:
            - string
            - 'null'
            description: City.
          state:
            oneOf:
            - $ref: '#/components/schemas/StateCode'
            - $ref: '#/components/schemas/EmptyString'
            description: State.
          zip:
            type:
            - string
            - 'null'
            description: Zip code.
        additionalProperties: false
      description: Address model
    MaritalStatus:
      type: string
      enum:
      - MARRIED
      - SEPARATED
      - UNMARRIED
      - OTHER
      description: Marital status codes.
    BorrowerPagination:
      allOf:
      - $ref: '#/components/schemas/AbstractPagination'
      - type: object
        properties:
          contents:
            type: array
            items:
              $ref: '#/components/schemas/Borrower.Preview'
        required:
        - contents
    StateCode:
      type: string
      enum:
      - AA
      - AE
      - AK
      - AL
      - AP
      - AR
      - AS
      - AZ
      - CA
      - CO
      - CT
      - DC
      - DE
      - FL
      - FM
      - GA
      - GU
      - HI
      - IA
      - ID
      - IL
      - IN
      - KS
      - KY
      - LA
      - MA
      - MD
      - ME
      - MH
      - MI
      - MN
      - MO
      - MP
      - MS
      - MT
      - NC
      - ND
      - NE
      - NH
      - NJ
      - NM
      - NV
      - NY
      - OH
      - OK
      - OR
      - PA
      - PR
      - PW
      - RI
      - SC
      - SD
      - TN
      - TX
      - UT
      - VA
      - VI
      - VT
      - WA
      - WI
      - WV
      - WY
      description: State abbreviated code.
  responses:
    ForbiddenError:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorSet'
      headers:
        X-Api-Version:
          $ref: '#/components/headers/ApiVersionResponseHeader'
        X-Api-Supported-Versions:
          $ref: '#/components/headers/ApiSupportedVersionsResponseHeader'
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorSet'
      headers:
        X-Api-Version:
          $ref: '#/components/headers/ApiVersionResponseHeader'
        X-Api-Supported-Versions:
          $ref: '#/components/headers/ApiSupportedVersionsResponseHeader'
    NotFoundError:
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorSet'
      headers:
        X-Api-Version:
          $ref: '#/components/headers/ApiVersionResponseHeader'
        X-Api-Supported-Versions:
          $ref: '#/components/headers/ApiSupportedVersionsResponseHeader'
    UnauthorizedError:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorSet'
      headers:
        X-Api-Version:
          $ref: '#/components/headers/ApiVersionResponseHeader'
        X-Api-Supported-Versions:
          $ref: '#/components/headers/ApiSupportedVersionsResponseHeader'
    BadRequestError:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorSet'
      headers:
        X-Api-Version:
          $ref: '#/components/headers/ApiVersionResponseHeader'
        X-Api-Supported-Versions:
          $ref: '#/components/headers/ApiSupportedVersionsResponseHeader'
  parameters:
    ApiVersionHeader:
      name: X-Api-Version
      description: Specify API version, for example '1.0'. By default, the version configured in the company settings is used.
      required: false
      in: header
      schema:
        type: string
    CreatedBefore:
      name: created_before
      description: The date which a resource must be created before to be returned.
      required: false
      in: query
      schema:
        type: string
        format: date-time
    UpdatedBefore:
      name: updated_before
      description: The date which a resource must be updated before to be returned.
      required: false
      in: query
      schema:
        type: string
        format: date-time
    Page:
      name: page
      description: The page to retrieve.
      required: false
      in: query
      schema:
        type: integer
    UpdatedAfter:
      name: updated_after
      description: The date which a resource must be updated after to be returned.
      required: false
      in: query
      schema:
        type: string
        format: date-time
    PageSize:
      name: page_size
      description: The number of records returned in each page.
      required: false
      in: query
      schema:
        type: integer
    CreatedAfter:
      name: created_after
      description: The date which a resource must be created after to be returned.
      required: false
      in: query
      schema:
        type: string
        format: date-time
  headers:
    ApiSupportedVersionsResponseHeader:
      description: API supported versions for endpoint.
      schema:
        type: string
    ApiVersionResponseHeader:
      description: API version.
      schema:
        type: string
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth 2.0 Access Token (Default)
      flows:
        clientCredentials:
          tokenUrl: /oauth/token
          scopes: {}
