openapi: 3.2.0
info:
  title: nCino Mortgage Loan Application (Nested) Assets API
  description: API framework built from the ground up to be more a robust, forward thinking solution with tools to support our developer community
  version: '1.0'
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://api.ncinomortgage.com
  description: Production server
security:
- OAuth2: []
tags:
- name: Loan Application (Nested) Assets
  description: 'Endpoints pertaining to a loan application''s assets.


    > 🚧 Interim identifier scheme

    `_id` is an opaque string, stable only for the lifetime of the loan

    application''s current field ordering. A persisted, stable identifier is

    planned as future work.'
paths:
  /loan_applications/nested/{loan_application_id}/assets:
    get:
      tags:
      - Loan Application (Nested) Assets
      operationId: loan_application_(nested)_assets-index
      parameters:
      - name: loan_application_id
        description: Loan application ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetPagination'
          headers:
            X-Api-Version:
              $ref: '#/components/headers/ApiVersionResponseHeader'
            X-Api-Supported-Versions:
              $ref: '#/components/headers/ApiSupportedVersionsResponseHeader'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      description: '> 🚧 Under construction

        > **This endpoint is in beta.** Functionality may change without notice, support is limited, and use in production is not recommended. Your feedback is appreciated.


        Retrieves all assets in a <<glossary:loan application>>.'
      summary: 🚧 Retrieve all assets (BETA)
    post:
      tags:
      - Loan Application (Nested) Assets
      operationId: loan_application_(nested)_assets-create
      parameters:
      - name: loan_application_id
        description: Loan application ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        '201':
          description: Created asset items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetCollection'
          headers:
            X-Api-Version:
              $ref: '#/components/headers/ApiVersionResponseHeader'
            X-Api-Supported-Versions:
              $ref: '#/components/headers/ApiSupportedVersionsResponseHeader'
        '400':
          description: Invalid request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSet'
          headers:
            X-Api-Version:
              $ref: '#/components/headers/ApiVersionResponseHeader'
            X-Api-Supported-Versions:
              $ref: '#/components/headers/ApiSupportedVersionsResponseHeader'
        '404':
          description: Category not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSet'
          headers:
            X-Api-Version:
              $ref: '#/components/headers/ApiVersionResponseHeader'
            X-Api-Supported-Versions:
              $ref: '#/components/headers/ApiSupportedVersionsResponseHeader'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      description: '> 🚧 Under construction

        > **This endpoint is in beta.** Functionality may change without notice, support is limited, and use in production is not recommended. Your feedback is appreciated.


        Appends one or more asset records to a <<glossary:loan application>>.

        Each record is a flat set of the form-defined asset fields (e.g.

        `type`, `value`, `owner`) plus any FI-custom fields the company''s form

        declares. The batch is atomic — an invalid record writes nothing.


        > 🚧 Interim identifier scheme

        `_id` is an opaque string, stable only for the lifetime of the loan

        application''s current field ordering. A persisted, stable identifier is

        planned as future work.'
      summary: 🚧 Creates one or more asset records (BETA)
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetCollectionCreateBody'
    patch:
      tags:
      - Loan Application (Nested) Assets
      operationId: loan_application_(nested)_assets-update
      parameters:
      - name: loan_application_id
        description: Loan application ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        '204':
          description: Successfully updated asset records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoContent'
          headers:
            X-Api-Version:
              $ref: '#/components/headers/ApiVersionResponseHeader'
            X-Api-Supported-Versions:
              $ref: '#/components/headers/ApiSupportedVersionsResponseHeader'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      description: '> 🚧 Under construction

        > **This endpoint is in beta.** Functionality may change without notice, support is limited, and use in production is not recommended. Your feedback is appreciated.


        Updates multiple asset records.'
      summary: 🚧 Update multiple asset records. (BETA)
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetCollectionUpdateBody'
  /loan_applications/nested/{loan_application_id}/assets/{record_id}:
    get:
      tags:
      - Loan Application (Nested) Assets
      operationId: loan_application_(nested)_assets-show
      parameters:
      - name: loan_application_id
        description: Loan application ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - name: record_id
        description: Asset record ID.
        required: true
        in: path
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
          headers:
            X-Api-Version:
              $ref: '#/components/headers/ApiVersionResponseHeader'
            X-Api-Supported-Versions:
              $ref: '#/components/headers/ApiSupportedVersionsResponseHeader'
        '404':
          description: Asset record not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSet'
          headers:
            X-Api-Version:
              $ref: '#/components/headers/ApiVersionResponseHeader'
            X-Api-Supported-Versions:
              $ref: '#/components/headers/ApiSupportedVersionsResponseHeader'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      description: '> 🚧 Under construction

        > **This endpoint is in beta.** Functionality may change without notice, support is limited, and use in production is not recommended. Your feedback is appreciated.


        Retrieves a specific asset record by ID.'
      summary: 🚧 Retrieve a specific asset record by ID. (BETA)
    patch:
      tags:
      - Loan Application (Nested) Assets
      operationId: loan_application_(nested)_assets-update_item
      parameters:
      - name: loan_application_id
        description: Loan application ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - name: record_id
        description: Asset record ID.
        required: true
        in: path
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        '204':
          description: Successfully updated asset record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoContent'
          headers:
            X-Api-Version:
              $ref: '#/components/headers/ApiVersionResponseHeader'
            X-Api-Supported-Versions:
              $ref: '#/components/headers/ApiSupportedVersionsResponseHeader'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      description: '> 🚧 Under construction

        > **This endpoint is in beta.** Functionality may change without notice, support is limited, and use in production is not recommended. Your feedback is appreciated.


        Updates a specific asset record by ID.'
      summary: 🚧 Update a specific asset record. (BETA)
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetUpdateBody'
    delete:
      tags:
      - Loan Application (Nested) Assets
      operationId: loan_application_(nested)_assets-destroy
      parameters:
      - name: loan_application_id
        description: Loan application ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - name: record_id
        description: Asset record ID.
        required: true
        in: path
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        '204':
          description: Successfully deleted asset record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoContent'
          headers:
            X-Api-Version:
              $ref: '#/components/headers/ApiVersionResponseHeader'
            X-Api-Supported-Versions:
              $ref: '#/components/headers/ApiSupportedVersionsResponseHeader'
        '400':
          description: Invalid request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSet'
          headers:
            X-Api-Version:
              $ref: '#/components/headers/ApiVersionResponseHeader'
            X-Api-Supported-Versions:
              $ref: '#/components/headers/ApiSupportedVersionsResponseHeader'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      description: '> 🚧 Under construction

        > **This endpoint is in beta.** Functionality may change without notice, support is limited, and use in production is not recommended. Your feedback is appreciated.


        Deletes a specific asset record by ID.'
      summary: 🚧 Delete a specific asset record. (BETA)
components:
  schemas:
    ResourceCollectionCreated:
      allOf:
      - $ref: '#/components/schemas/AbstractCollection'
      - type: object
        properties:
          contents:
            type: array
            items:
              type: object
            description: Array of created resources.
        required:
        - contents
        additionalProperties: false
      description: 'Generic base class for returning multiple created resources with their full

        representations. Extend this class and specify the item type via cattr_reader,

        similar to AbstractPagination.'
    AssetPagination:
      allOf:
      - $ref: '#/components/schemas/AbstractPagination'
      - type: object
        properties:
          contents:
            type: array
            items:
              $ref: '#/components/schemas/Asset'
        required:
        - contents
        additionalProperties: false
    AssetCollection:
      allOf:
      - $ref: '#/components/schemas/ResourceCollectionCreated'
      - type: object
        properties:
          contents:
            type: array
            items:
              $ref: '#/components/schemas/Asset'
            description: Array of created asset records.
        required:
        - contents
        additionalProperties: false
      description: Collection of asset records. Returned when creating multiple records.
    NoContent:
      type: object
      properties: {}
      additionalProperties: false
    Error:
      type: object
      properties:
        id:
          type: string
          description: A unique ID (useful as a reference when debugging an error with support)
        status:
          type: integer
          description: The HTTP status code
        title:
          type: string
          description: A generic title
        detail:
          type: string
          description: A detailed message
        _links:
          type: object
          description: A list of relevant links
      required:
      - id
      - status
      - title
      example:
        id: 123abc
        status: 400
        title: Generic title for the error
        detail: Detailed message for the error
        _links:
          resource: contextual resource if applicable
    AbstractModel:
      type: object
      properties:
        _self:
          type: string
          description: The model's resource link to itself.
        _type:
          type: string
          description: The model's type.
        _links:
          type: object
          description: A list of links for the model's associations.
      required:
      - _self
      - _type
      additionalProperties: false
    AssetCollectionUpdateBody:
      type: object
      properties:
        records:
          type: array
          items:
            $ref: '#/components/schemas/AssetItemUpdateBody'
          description: Array of records to update.
      required:
      - records
      description: Body for updating multiple asset records.
      additionalProperties: false
    AssetCollectionCreateBody:
      type: object
      properties:
        records:
          type: array
          items:
            $ref: '#/components/schemas/AssetCreateBody'
          description: Array of records to create.
      required:
      - records
      description: Body for creating multiple asset records.
      additionalProperties: false
    ErrorSet:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
      required:
      - errors
      example:
        errors:
        - id: 123abc
          status: 400
          title: Generic title for the error
          detail: Detailed message for the error
          _links:
            resource: contextual resource if applicable
    AssetUpdateBody:
      type: object
      properties:
        type:
          type: string
          description: This asset's type.
        value:
          type: integer
          description: This asset's estimated value.
        owner:
          type: string
          description: 'The owner(s) of this asset: "Borrower", "Co-borrower", or "Both".'
      description: Body for updating an asset record. Pass only the fields to update.
      minProperties: 1
    AbstractPagination:
      allOf:
      - $ref: '#/components/schemas/AbstractCollection'
      - type: object
        properties:
          total_pages:
            type: integer
            description: The total number of pages in the collection.
          total:
            type: integer
            description: The total number of items in the collection.
        additionalProperties: false
    Asset:
      allOf:
      - $ref: '#/components/schemas/AbstractModel'
      - type: object
        properties:
          _id:
            type: string
            description: Opaque, interim item identifier (not a uuid — see class description).
          type:
            type:
            - string
            - 'null'
            description: This asset's type.
          value:
            type:
            - string
            - 'null'
            description: This asset's estimated value.
          owner:
            type:
            - string
            - 'null'
            description: 'The owner(s) of this asset: "Borrower", "Co-borrower", or "Both".'
        required:
        - _id
      description: 'A single asset record. Beyond the form''s standard fields (`type`,

        `value`, `owner`), a company''s form may declare FI-custom fields, so

        additional properties are permitted. `_id` is an opaque string

        identifier, stable only for the lifetime of the loan application''s

        current field ordering. A persisted, stable identifier is planned as

        future work. It uses the underscore-prefixed namespace reserved for API

        meta fields (alongside `_self`/`_type`/`_links`), so a data field can

        never overwrite it.'
    AssetCreateBody:
      type: object
      properties:
        type:
          type: string
          description: This asset's type.
        value:
          type: integer
          description: This asset's estimated value.
        owner:
          type: string
          description: 'The owner(s) of this asset: "Borrower", "Co-borrower", or "Both".'
      description: 'Body for creating a new asset record. Beyond the standard fields, a

        company''s form may declare FI-custom asset fields (each a form

        `category_key`); pass those as additional properties. Every key is

        validated against the form when the request is processed, so an unknown

        key is rejected.'
    AbstractCollection:
      allOf:
      - $ref: '#/components/schemas/AbstractModel'
      - type: object
        properties:
          contents:
            type: array
            items:
              type: object
            description: The contents for the collection.
        required:
        - contents
        additionalProperties: false
    AssetItemUpdateBody:
      allOf:
      - $ref: '#/components/schemas/AssetUpdateBody'
      - type: object
        properties:
          _id:
            type: string
            description: Opaque string identifier, stable only for the lifetime of the loan application's current field ordering.
        required:
        - _id
      description: Body for updating an asset record. Aside from the ID, pass only the fields to update.
      minProperties: 2
  responses:
    ForbiddenError:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorSet'
      headers:
        X-Api-Version:
          $ref: '#/components/headers/ApiVersionResponseHeader'
        X-Api-Supported-Versions:
          $ref: '#/components/headers/ApiSupportedVersionsResponseHeader'
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorSet'
      headers:
        X-Api-Version:
          $ref: '#/components/headers/ApiVersionResponseHeader'
        X-Api-Supported-Versions:
          $ref: '#/components/headers/ApiSupportedVersionsResponseHeader'
    NotFoundError:
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorSet'
      headers:
        X-Api-Version:
          $ref: '#/components/headers/ApiVersionResponseHeader'
        X-Api-Supported-Versions:
          $ref: '#/components/headers/ApiSupportedVersionsResponseHeader'
    UnauthorizedError:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorSet'
      headers:
        X-Api-Version:
          $ref: '#/components/headers/ApiVersionResponseHeader'
        X-Api-Supported-Versions:
          $ref: '#/components/headers/ApiSupportedVersionsResponseHeader'
    BadRequestError:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorSet'
      headers:
        X-Api-Version:
          $ref: '#/components/headers/ApiVersionResponseHeader'
        X-Api-Supported-Versions:
          $ref: '#/components/headers/ApiSupportedVersionsResponseHeader'
  parameters:
    ApiVersionHeader:
      name: X-Api-Version
      description: Specify API version, for example '1.0'. By default, the version configured in the company settings is used.
      required: false
      in: header
      schema:
        type: string
    Page:
      name: page
      description: The page to retrieve.
      required: false
      in: query
      schema:
        type: integer
    PageSize:
      name: page_size
      description: The number of records returned in each page.
      required: false
      in: query
      schema:
        type: integer
  headers:
    ApiSupportedVersionsResponseHeader:
      description: API supported versions for endpoint.
      schema:
        type: string
    ApiVersionResponseHeader:
      description: API version.
      schema:
        type: string
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth 2.0 Access Token (Default)
      flows:
        clientCredentials:
          tokenUrl: /oauth/token
          scopes: {}
