---
info:
  title: nCino Mortgage API
  description: API framework built from the ground up to be more a robust, forward
    thinking solution with tools to support our developer community
  version: '1.0'
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://api.ncinomortgage.com
  description: Production server
security:
- OAuth2: []
openapi: 3.0.0
paths:
  "/oauth/token":
    post:
      tags:
      - Authentication
      operationId: authentication-create
      parameters:
      - "$ref": "#/components/parameters/ApiVersionHeader"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/OAuthToken"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/OAuthError"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/OAuthError"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      description: Initiate the <<glossary:authentication workflow>> using supported
        grant types.
      summary: Initiate authentication workflow
      security: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              oneOf:
              - "$ref": "#/components/schemas/OAuthTokenClientBody"
              - "$ref": "#/components/schemas/OAuthTokenRefreshBody"
              - "$ref": "#/components/schemas/OAuthTokenCodeBody"
              discriminator:
                propertyName: grant_type
                mapping:
                  client_credentials: "#/components/schemas/OAuthTokenClientBody"
                  refresh_token: "#/components/schemas/OAuthTokenRefreshBody"
                  authorization_code: "#/components/schemas/OAuthTokenCodeBody"
    get:
      tags:
      - Authentication
      operationId: authentication-show
      parameters:
      - "$ref": "#/components/parameters/ApiVersionHeader"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/OAuthTokenInfo"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '400':
          "$ref": "#/components/responses/BadRequestError"
        '401':
          "$ref": "#/components/responses/UnauthorizedError"
        '403':
          "$ref": "#/components/responses/ForbiddenError"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      description: This endpoint will retrieve <<glossary:access token>> information.
      summary: Retrieve access token information
  "/oauth/token/actions":
    post:
      tags:
      - Authentication
      operationId: authentication-actions
      parameters:
      - "$ref": "#/components/parameters/ApiVersionHeader"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/OAuthTokenIntrospect"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/OAuthError"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/OAuthError"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      description: "This endpoint will perform an action on an <<glossary:access token>>.\n\n>
        \U0001F4CC Available actions\n  **REVOKE** - Revoke an existing access token\n
        \ **INTROSPECT** - Introspect an access token"
      summary: Perform an action on access token
      security: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              oneOf:
              - "$ref": "#/components/schemas/OAuthActionBody"
              discriminator:
                propertyName: action
                mapping:
                  REVOKE: "#/components/schemas/OAuthActionBody"
                  INTROSPECT: "#/components/schemas/OAuthActionBody"
  "/webhooks":
    post:
      tags:
      - Webhooks
      operationId: webhooks-create
      parameters:
      - "$ref": "#/components/parameters/ApiVersionHeader"
      responses:
        '201':
          description: Created webhook
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResourceCreated"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '409':
          description: Webhook already exists for the given URL
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSet"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '400':
          "$ref": "#/components/responses/BadRequestError"
        '401':
          "$ref": "#/components/responses/UnauthorizedError"
        '403':
          "$ref": "#/components/responses/ForbiddenError"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      description: This endpoint will create a new <<glossary:webhook>> record.
      summary: Create a new webhook record
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/WebhookPostBody"
    get:
      tags:
      - Webhooks
      operationId: webhooks-index
      parameters:
      - "$ref": "#/components/parameters/Page"
      - "$ref": "#/components/parameters/PageSize"
      - "$ref": "#/components/parameters/CreatedAfter"
      - "$ref": "#/components/parameters/CreatedBefore"
      - "$ref": "#/components/parameters/UpdatedAfter"
      - "$ref": "#/components/parameters/UpdatedBefore"
      - "$ref": "#/components/parameters/ApiVersionHeader"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WebhookPagination"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '400':
          "$ref": "#/components/responses/BadRequestError"
        '401':
          "$ref": "#/components/responses/UnauthorizedError"
        '403':
          "$ref": "#/components/responses/ForbiddenError"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      description: This endpoint will retrieve all <<glossary:webhook>> records.
      summary: Retrieve all webhook records
  "/webhooks/{webhook_id}":
    get:
      tags:
      - Webhooks
      operationId: webhooks-show
      parameters:
      - name: webhook_id
        description: Webhook ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - "$ref": "#/components/parameters/ApiVersionHeader"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Webhook.Detail"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '400':
          "$ref": "#/components/responses/BadRequestError"
        '401':
          "$ref": "#/components/responses/UnauthorizedError"
        '403':
          "$ref": "#/components/responses/ForbiddenError"
        '404':
          "$ref": "#/components/responses/NotFoundError"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      description: This endpoint will retrieve a <<glossary:webhook>> record.
      summary: Retrieve a webhook record
    patch:
      tags:
      - Webhooks
      operationId: webhooks-update
      parameters:
      - name: webhook_id
        description: Webhook ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - "$ref": "#/components/parameters/ApiVersionHeader"
      responses:
        '204':
          description: Updated webhook
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/NoContent"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '400':
          "$ref": "#/components/responses/BadRequestError"
        '401':
          "$ref": "#/components/responses/UnauthorizedError"
        '403':
          "$ref": "#/components/responses/ForbiddenError"
        '404':
          "$ref": "#/components/responses/NotFoundError"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      description: This endpoint will update a <<glossary:webhook>> record.
      summary: Update a webhook record
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/WebhookPatchBody"
    delete:
      tags:
      - Webhooks
      operationId: webhooks-destroy
      parameters:
      - name: webhook_id
        description: Webhook ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - "$ref": "#/components/parameters/ApiVersionHeader"
      responses:
        '204':
          description: Deleted webhook
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/NoContent"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '400':
          "$ref": "#/components/responses/BadRequestError"
        '401':
          "$ref": "#/components/responses/UnauthorizedError"
        '403':
          "$ref": "#/components/responses/ForbiddenError"
        '404':
          "$ref": "#/components/responses/NotFoundError"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      description: This endpoint will delete a <<glossary:webhook>> record.
      summary: Delete a webhook record
  "/webhooks/{webhook_id}/test_events":
    post:
      tags:
      - Webhooks
      operationId: webhooks-test_events
      parameters:
      - name: webhook_id
        description: Webhook ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - "$ref": "#/components/parameters/ApiVersionHeader"
      responses:
        '200':
          description: Successfully sent webhook request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WebhookTestResponse"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '400':
          "$ref": "#/components/responses/BadRequestError"
        '401':
          "$ref": "#/components/responses/UnauthorizedError"
        '403':
          "$ref": "#/components/responses/ForbiddenError"
        '404':
          "$ref": "#/components/responses/NotFoundError"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      description: Use this endpoint to test events being sent to your <<glossary:webhook>>.
      summary: Perform test event on a webhook
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              oneOf:
              - "$ref": "#/components/schemas/JobStatusChangedTestEvent0"
              - "$ref": "#/components/schemas/LoanAppStartedTestEvent0"
              - "$ref": "#/components/schemas/LoanAppUpdatedTestEvent0"
              - "$ref": "#/components/schemas/LoanAppSubmittedTestEvent0"
              - "$ref": "#/components/schemas/LoanAppImportedTestEvent0"
              - "$ref": "#/components/schemas/LoanAppAbandonedTestEvent0"
              - "$ref": "#/components/schemas/DocumentUploadedTestEvent0"
              - "$ref": "#/components/schemas/DocumentCreatedTestEvent0"
              - "$ref": "#/components/schemas/DocumentUpdatedTestEvent0"
              - "$ref": "#/components/schemas/LoanMilestoneUpdatedTestEvent0"
              - "$ref": "#/components/schemas/LoanMilestoneCompletedTestEvent0"
              - "$ref": "#/components/schemas/LoanCreatedTestEvent0"
              - "$ref": "#/components/schemas/LoanUpdatedTestEvent0"
              - "$ref": "#/components/schemas/LoanDeletedTestEvent0"
              - "$ref": "#/components/schemas/LoanActivatedTestEvent0"
              - "$ref": "#/components/schemas/LoanDeactivatedTestEvent0"
              - "$ref": "#/components/schemas/MilestonesReorderedTestEvent0"
              - "$ref": "#/components/schemas/MilestoneCreatedTestEvent0"
              - "$ref": "#/components/schemas/MilestoneDeletedTestEvent0"
              - "$ref": "#/components/schemas/OrganizationCreatedTestEvent0"
              - "$ref": "#/components/schemas/OrganizationDeletedTestEvent0"
              - "$ref": "#/components/schemas/StateLicenseCreatedTestEvent0"
              - "$ref": "#/components/schemas/StateLicenseUpdatedTestEvent0"
              - "$ref": "#/components/schemas/StateLicenseDeletedTestEvent0"
              - "$ref": "#/components/schemas/AccountAssignmentCreatedTestEvent0"
              - "$ref": "#/components/schemas/AccountAssignmentDeletedTestEvent0"
              - "$ref": "#/components/schemas/LoanOfficerPromotedTestEvent0"
              - "$ref": "#/components/schemas/LoanOfficerDemotedTestEvent0"
              - "$ref": "#/components/schemas/UserCreatedTestEvent0"
              - "$ref": "#/components/schemas/UserUpdatedTestEvent0"
              - "$ref": "#/components/schemas/UserEnabledTestEvent0"
              - "$ref": "#/components/schemas/UserDisabledTestEvent0"
              - "$ref": "#/components/schemas/UserFirstLoginTestEvent0"
              - "$ref": "#/components/schemas/UserDeletedTestEvent0"
              - "$ref": "#/components/schemas/VerificationAvailableTestEvent0"
              discriminator:
                propertyName: event
                mapping:
                  job_status_changed: "#/components/schemas/JobStatusChangedTestEvent0"
                  loan_app_started: "#/components/schemas/LoanAppStartedTestEvent0"
                  loan_app_updated: "#/components/schemas/LoanAppUpdatedTestEvent0"
                  loan_app_submitted: "#/components/schemas/LoanAppSubmittedTestEvent0"
                  loan_app_imported: "#/components/schemas/LoanAppImportedTestEvent0"
                  loan_app_abandoned: "#/components/schemas/LoanAppAbandonedTestEvent0"
                  document_uploaded: "#/components/schemas/DocumentUploadedTestEvent0"
                  document_created: "#/components/schemas/DocumentCreatedTestEvent0"
                  document_updated: "#/components/schemas/DocumentUpdatedTestEvent0"
                  loan_milestone_updated: "#/components/schemas/LoanMilestoneUpdatedTestEvent0"
                  loan_milestone_completed: "#/components/schemas/LoanMilestoneCompletedTestEvent0"
                  loan_created: "#/components/schemas/LoanCreatedTestEvent0"
                  loan_updated: "#/components/schemas/LoanUpdatedTestEvent0"
                  loan_deleted: "#/components/schemas/LoanDeletedTestEvent0"
                  loan_activated: "#/components/schemas/LoanActivatedTestEvent0"
                  loan_deactivated: "#/components/schemas/LoanDeactivatedTestEvent0"
                  milestones_reordered: "#/components/schemas/MilestonesReorderedTestEvent0"
                  milestone_created: "#/components/schemas/MilestoneCreatedTestEvent0"
                  milestone_deleted: "#/components/schemas/MilestoneDeletedTestEvent0"
                  organization_created: "#/components/schemas/OrganizationCreatedTestEvent0"
                  organization_deleted: "#/components/schemas/OrganizationDeletedTestEvent0"
                  state_license_created: "#/components/schemas/StateLicenseCreatedTestEvent0"
                  state_license_updated: "#/components/schemas/StateLicenseUpdatedTestEvent0"
                  state_license_deleted: "#/components/schemas/StateLicenseDeletedTestEvent0"
                  account_assignment_created: "#/components/schemas/AccountAssignmentCreatedTestEvent0"
                  account_assignment_deleted: "#/components/schemas/AccountAssignmentDeletedTestEvent0"
                  loan_officer_promoted: "#/components/schemas/LoanOfficerPromotedTestEvent0"
                  loan_officer_demoted: "#/components/schemas/LoanOfficerDemotedTestEvent0"
                  user_created: "#/components/schemas/UserCreatedTestEvent0"
                  user_updated: "#/components/schemas/UserUpdatedTestEvent0"
                  user_enabled: "#/components/schemas/UserEnabledTestEvent0"
                  user_disabled: "#/components/schemas/UserDisabledTestEvent0"
                  user_first_login: "#/components/schemas/UserFirstLoginTestEvent0"
                  user_deleted: "#/components/schemas/UserDeletedTestEvent0"
                  verification_available: "#/components/schemas/VerificationAvailableTestEvent0"
  "/webhooks/{webhook_id}/actions":
    post:
      tags:
      - Webhooks
      operationId: webhooks-actions
      parameters:
      - name: webhook_id
        description: Webhook ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - "$ref": "#/components/parameters/ApiVersionHeader"
      responses:
        '204':
          description: No content
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/NoContent"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '201':
          description: Created <<glossary:asynchronous job>> to process action
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResourceCreated"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '409':
          description: Webhook already exists for the given URL
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSet"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '412':
          description: Resource is in an invalid state
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSet"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '400':
          "$ref": "#/components/responses/BadRequestError"
        '401':
          "$ref": "#/components/responses/UnauthorizedError"
        '403':
          "$ref": "#/components/responses/ForbiddenError"
        '404':
          "$ref": "#/components/responses/NotFoundError"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      description: "> \U0001F4CC Available actions\n  **ENABLE** - Activate webhook\n
        \ **DISABLE** - Deactivate webhook\n  **TEST** - Test webhook connection to
        URL\n  **CHANGE_URL** - Change URL for webhook"
      summary: Perform action on a webhook
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              oneOf:
              - "$ref": "#/components/schemas/WebhookAction"
              discriminator:
                propertyName: action
                mapping:
                  ENABLE: "#/components/schemas/WebhookAction"
                  DISABLE: "#/components/schemas/WebhookAction"
                  TEST: "#/components/schemas/WebhookAction"
                  CHANGE_URL: "#/components/schemas/ChangeUrlAction"
  "/webhooks/{webhook_id}/subscriptions":
    post:
      tags:
      - Subscriptions
      operationId: subscriptions-create
      parameters:
      - name: webhook_id
        description: Webhook ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - "$ref": "#/components/parameters/ApiVersionHeader"
      responses:
        '201':
          description: Subscription created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResourceCreated"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '409':
          description: Webhook is already subscribed to event
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSet"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '400':
          "$ref": "#/components/responses/BadRequestError"
        '401':
          "$ref": "#/components/responses/UnauthorizedError"
        '403':
          "$ref": "#/components/responses/ForbiddenError"
        '404':
          "$ref": "#/components/responses/NotFoundError"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      description: Create a subscription for a <<glossary:webhook>>
      summary: Create a subscription for a webhook
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/WebhookSubscriptionSaveBody"
    get:
      tags:
      - Subscriptions
      operationId: subscriptions-index
      parameters:
      - name: webhook_id
        description: Webhook ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - "$ref": "#/components/parameters/Page"
      - "$ref": "#/components/parameters/PageSize"
      - "$ref": "#/components/parameters/CreatedAfter"
      - "$ref": "#/components/parameters/CreatedBefore"
      - "$ref": "#/components/parameters/UpdatedAfter"
      - "$ref": "#/components/parameters/UpdatedBefore"
      - "$ref": "#/components/parameters/ApiVersionHeader"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WebhookSubscriptionPagination"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '400':
          "$ref": "#/components/responses/BadRequestError"
        '401':
          "$ref": "#/components/responses/UnauthorizedError"
        '403':
          "$ref": "#/components/responses/ForbiddenError"
        '404':
          "$ref": "#/components/responses/NotFoundError"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      description: This endpoint will retrieve all of a <<glossary:webhook>>'s subscription
        records.
      summary: Retrieve all of a webhook's subscription records
  "/webhooks/{webhook_id}/subscriptions/{webhook_subscription_id}":
    get:
      tags:
      - Subscriptions
      operationId: subscriptions-show
      parameters:
      - name: webhook_id
        description: Webhook ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - name: webhook_subscription_id
        description: Subscription ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - "$ref": "#/components/parameters/ApiVersionHeader"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WebhookSubscription"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '400':
          "$ref": "#/components/responses/BadRequestError"
        '401':
          "$ref": "#/components/responses/UnauthorizedError"
        '403':
          "$ref": "#/components/responses/ForbiddenError"
        '404':
          "$ref": "#/components/responses/NotFoundError"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      description: This endpoint will retrieve a <<glossary:webhook>>'s subscription
        record.
      summary: Retrieve a webhook's subscription record
    patch:
      tags:
      - Subscriptions
      operationId: subscriptions-update
      parameters:
      - name: webhook_id
        description: Webhook ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - name: webhook_subscription_id
        description: Subscription ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - "$ref": "#/components/parameters/ApiVersionHeader"
      responses:
        '204':
          description: Subscription updated
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/NoContent"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '409':
          description: Webhook is already subscribed to event
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSet"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '400':
          "$ref": "#/components/responses/BadRequestError"
        '401':
          "$ref": "#/components/responses/UnauthorizedError"
        '403':
          "$ref": "#/components/responses/ForbiddenError"
        '404':
          "$ref": "#/components/responses/NotFoundError"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      description: This endpoint will update a <<glossary:webhook>>'s subscription
        record.
      summary: Update a webhook's subscription record
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/WebhookSubscriptionSaveBody"
    delete:
      tags:
      - Subscriptions
      operationId: subscriptions-destroy
      parameters:
      - name: webhook_id
        description: Webhook ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - name: webhook_subscription_id
        description: Subscription ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - "$ref": "#/components/parameters/ApiVersionHeader"
      responses:
        '204':
          description: Subscription removed
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/NoContent"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '400':
          "$ref": "#/components/responses/BadRequestError"
        '401':
          "$ref": "#/components/responses/UnauthorizedError"
        '403':
          "$ref": "#/components/responses/ForbiddenError"
        '404':
          "$ref": "#/components/responses/NotFoundError"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      description: This endpoint will delete a <<glossary:webhook>>'s subscription
        record (i.e. unsubscribes a webhook from an event).
      summary: Delete a webhook's subscription record
  "/branches/{branch_id}/images/{image_key}":
    put:
      tags:
      - Branch Images
      operationId: branch_images-update
      parameters:
      - name: branch_id
        description: Branch ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - name: image_key
        description: Image to be updated.
        required: true
        in: path
        schema:
          type: string
          enum:
          - logo
          - app_icon
          - app_homepage_logo
      - "$ref": "#/components/parameters/ApiVersionHeader"
      responses:
        '204':
          description: Successfully updated branch image
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/NoContent"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '400':
          "$ref": "#/components/responses/BadRequestError"
        '401':
          "$ref": "#/components/responses/UnauthorizedError"
        '403':
          "$ref": "#/components/responses/ForbiddenError"
        '404':
          "$ref": "#/components/responses/NotFoundError"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      description: "This endpoint uploads images to a <<glossary:branch>>. Available
        images and their image_keys, along with the supported file types and sizes
        are in the table below.\n\n> \U0001F647 Heads up!\n**All image file uploads
        should be base64 encoded.**\n<table border=1px cellpadding=5px>\n\t<tr>\n\t\t<th>image_key</th>\n\t\t<th>Supported
        File Types</th>\n\t\t<th>Image Dimensions</th>\n\t</tr>\n\t<tr>\n\t\t<td>logo</td>\n\t\t<td>\n\t\t\t<ul>\n\t\t\t\t<li>.jpeg</li>\n\t\t\t\t<li>.jpg</li>\n\t\t\t\t<li>.png</li>\n\t\t\t</ul>\n\t\t</td>\n\t\t<td>1000x313</td>\n\t</tr>\n\t<tr>\n\t\t<td>app_icon</td>\n\t\t<td>\n\t\t\t<ul>\n\t\t\t\t<li>.jpeg</li>\n\t\t\t\t<li>.jpg</li>\n\t\t\t\t<li>.png</li>\n\t\t\t</ul>\n\t\t</td>\n\t\t<td>100x100</td>\n\t</tr>\n\t<tr>\n\t\t<td>app_homepage_logo</td>\n\t\t<td>\n\t\t\t<ul>\n\t\t\t\t<li>.jpeg</li>\n\t\t\t\t<li>.jpg</li>\n\t\t\t\t<li>.png</li>\n\t\t\t</ul>\n\t\t</td>\n\t\t<td>208x32</td>\n\t</tr>\n</table>"
      summary: Update a branch's image
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ImageUpdateBody"
    delete:
      tags:
      - Branch Images
      operationId: branch_images-destroy
      parameters:
      - name: branch_id
        description: Branch ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - name: image_key
        description: Image to be deleted.
        required: true
        in: path
        schema:
          type: string
          enum:
          - logo
          - app_icon
          - app_homepage_logo
      - "$ref": "#/components/parameters/ApiVersionHeader"
      responses:
        '204':
          description: Successfully deleted branch image
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/NoContent"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '400':
          "$ref": "#/components/responses/BadRequestError"
        '401':
          "$ref": "#/components/responses/UnauthorizedError"
        '403':
          "$ref": "#/components/responses/ForbiddenError"
        '404':
          "$ref": "#/components/responses/NotFoundError"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      description: This endpoint deletes a <<glossary:branch>>'s image for the image
        key provided.
      summary: Delete branch image
  "/branches/{branch_id}/links":
    get:
      tags:
      - Branch Links
      operationId: branch_links-index
      parameters:
      - name: branch_id
        description: Branch ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - "$ref": "#/components/parameters/Page"
      - "$ref": "#/components/parameters/PageSize"
      - "$ref": "#/components/parameters/CreatedAfter"
      - "$ref": "#/components/parameters/CreatedBefore"
      - "$ref": "#/components/parameters/UpdatedAfter"
      - "$ref": "#/components/parameters/UpdatedBefore"
      - "$ref": "#/components/parameters/ApiVersionHeader"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/LinkPagination"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '400':
          "$ref": "#/components/responses/BadRequestError"
        '401':
          "$ref": "#/components/responses/UnauthorizedError"
        '403':
          "$ref": "#/components/responses/ForbiddenError"
        '404':
          "$ref": "#/components/responses/NotFoundError"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      description: This endpoint retrieves a list of <<glossary:branch>> <<glossary:link>>s.
      summary: Retrieve branch links
    post:
      tags:
      - Branch Links
      operationId: branch_links-create
      parameters:
      - name: branch_id
        description: Branch ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - "$ref": "#/components/parameters/ApiVersionHeader"
      responses:
        '201':
          description: Created branch link
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResourceCreated"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '409':
          description: URL already taken for a branch link
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSet"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '400':
          "$ref": "#/components/responses/BadRequestError"
        '401':
          "$ref": "#/components/responses/UnauthorizedError"
        '403':
          "$ref": "#/components/responses/ForbiddenError"
        '404':
          "$ref": "#/components/responses/NotFoundError"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      description: This endpoint creates a <<glossary:branch>> <<glossary:link>>.
      summary: Create a branch link
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/LinkCreateBody"
  "/branches/{branch_id}/links/{link_id}":
    patch:
      tags:
      - Branch Links
      operationId: branch_links-update
      parameters:
      - name: branch_id
        description: Branch ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - name: link_id
        description: Link ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - "$ref": "#/components/parameters/ApiVersionHeader"
      responses:
        '204':
          description: Successfully updated branch link
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/NoContent"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '409':
          description: URL already taken for a branch link
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSet"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '400':
          "$ref": "#/components/responses/BadRequestError"
        '401':
          "$ref": "#/components/responses/UnauthorizedError"
        '403':
          "$ref": "#/components/responses/ForbiddenError"
        '404':
          "$ref": "#/components/responses/NotFoundError"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      description: This endpoint updates a <<glossary:branch>> <<glossary:link>>.
      summary: Update a branch link
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/LinkUpdateBody"
    get:
      tags:
      - Branch Links
      operationId: branch_links-show
      parameters:
      - name: branch_id
        description: Branch ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - name: link_id
        description: Link ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - "$ref": "#/components/parameters/ApiVersionHeader"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Link"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '400':
          "$ref": "#/components/responses/BadRequestError"
        '401':
          "$ref": "#/components/responses/UnauthorizedError"
        '403':
          "$ref": "#/components/responses/ForbiddenError"
        '404':
          "$ref": "#/components/responses/NotFoundError"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      description: This endpoint retrieves a specific <<glossary:branch>> <<glossary:link>>.
      summary: Retrieve a branch link
    delete:
      tags:
      - Branch Links
      operationId: branch_links-destroy
      parameters:
      - name: branch_id
        description: "<Branch ID."
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - name: link_id
        description: Link ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - "$ref": "#/components/parameters/ApiVersionHeader"
      responses:
        '204':
          description: Successfully deleted branch link
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/NoContent"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '400':
          "$ref": "#/components/responses/BadRequestError"
        '401':
          "$ref": "#/components/responses/UnauthorizedError"
        '403':
          "$ref": "#/components/responses/ForbiddenError"
        '404':
          "$ref": "#/components/responses/NotFoundError"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      description: This endpoint deletes a <<glossary:branch>> <<glossary:link>>.
      summary: Delete a branch link
  "/branches/{branch_id}/reports":
    post:
      tags:
      - Branch Reports
      operationId: branch_reports-generate
      parameters:
      - name: branch_id
        description: "<<glossary:Branch>> ID."
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - "$ref": "#/components/parameters/ApiVersionHeader"
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResourceCreated"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '400':
          "$ref": "#/components/responses/BadRequestError"
        '401':
          "$ref": "#/components/responses/UnauthorizedError"
        '403':
          "$ref": "#/components/responses/ForbiddenError"
        '404':
          "$ref": "#/components/responses/NotFoundError"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      description: This endpoint generates a <<glossary:branch>> report. The report
        will create an <<glossary:asynchronous job>> and can be accessed when the
        job returned in the response has successfully completed.
      summary: Generate a branch report
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              anyOf:
              - "$ref": "#/components/schemas/ReportPostBody"
              - "$ref": "#/components/schemas/TimeBoundReportPostBody"
              discriminator:
                propertyName: report_type
                mapping:
                  CO_BRANDED_APPS: "#/components/schemas/TimeBoundReportPostBody"
                  DOCUSIGN_ENVELOPES: "#/components/schemas/TimeBoundReportPostBody"
                  LOAN_APP_DETAILS: "#/components/schemas/TimeBoundReportPostBody"
                  LOAN_APPS_COUNT: "#/components/schemas/TimeBoundReportPostBody"
                  LO_ACTIVITY: "#/components/schemas/TimeBoundReportPostBody"
                  NPS_FEEDBACK: "#/components/schemas/TimeBoundReportPostBody"
                  PACKAGE_TRACKER: "#/components/schemas/TimeBoundReportPostBody"
                  PROSPECTS: "#/components/schemas/TimeBoundReportPostBody"
                  QR_CODES: "#/components/schemas/ReportPostBody"
                  VERIFICATION_OF_ASSETS_ORDERS: "#/components/schemas/TimeBoundReportPostBody"
  "/branches/{branch_id}/reports/{report_id}":
    get:
      tags:
      - Branch Reports
      operationId: branch_reports-download
      parameters:
      - name: branch_id
        description: Scope response to branch_id
        required: true
        in: path
        schema:
          type: string
      - name: report_id
        description: Scope response to report_id
        required: true
        in: path
        schema:
          type: string
      - "$ref": "#/components/parameters/ApiVersionHeader"
      responses:
        '200':
          description: Success
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
          headers:
            Content-Disposition:
              "$ref": "#/components/headers/ContentDispositionResponseHeader"
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '410':
          description: Report has been archived
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSet"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '400':
          "$ref": "#/components/responses/BadRequestError"
        '401':
          "$ref": "#/components/responses/UnauthorizedError"
        '403':
          "$ref": "#/components/responses/ForbiddenError"
        '404':
          "$ref": "#/components/responses/NotFoundError"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      description: This endpoint downloads a <<glossary:branch>> report.
      summary: Download a branch report
  "/branches/{branch_id}/state_licenses":
    post:
      tags:
      - Branch State Licenses
      operationId: branch_state_licenses-create
      parameters:
      - name: branch_id
        description: Branch ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - "$ref": "#/components/parameters/ApiVersionHeader"
      responses:
        '201':
          description: Successfully created license
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResourceCreated"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '400':
          "$ref": "#/components/responses/BadRequestError"
        '401':
          "$ref": "#/components/responses/UnauthorizedError"
        '403':
          "$ref": "#/components/responses/ForbiddenError"
        '404':
          "$ref": "#/components/responses/NotFoundError"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      description: This endpoint will create a <<glossary:branch>> <<glossary:state
        license>>.
      summary: Create a branch state license
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/StateLicenseCreateBody"
    get:
      tags:
      - Branch State Licenses
      operationId: branch_state_licenses-index
      parameters:
      - name: branch_id
        description: Branch ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - name: state
        description: State by which to filter state licenses.
        required: false
        in: query
        schema:
          "$ref": "#/components/schemas/StateCode"
      - "$ref": "#/components/parameters/Page"
      - "$ref": "#/components/parameters/PageSize"
      - "$ref": "#/components/parameters/CreatedAfter"
      - "$ref": "#/components/parameters/CreatedBefore"
      - "$ref": "#/components/parameters/UpdatedAfter"
      - "$ref": "#/components/parameters/UpdatedBefore"
      - "$ref": "#/components/parameters/ApiVersionHeader"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StateLicensePagination"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '400':
          "$ref": "#/components/responses/BadRequestError"
        '401':
          "$ref": "#/components/responses/UnauthorizedError"
        '403':
          "$ref": "#/components/responses/ForbiddenError"
        '404':
          "$ref": "#/components/responses/NotFoundError"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      description: This endpoint will retrieve all <<glossary:branch>> <<glossary:state
        license>>s.
      summary: Retrieve all branch state licenses
  "/branches/{branch_id}/state_licenses/{state_license_id}":
    patch:
      tags:
      - Branch State Licenses
      operationId: branch_state_licenses-update
      parameters:
      - name: branch_id
        description: Branch ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - name: state_license_id
        description: State license ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - "$ref": "#/components/parameters/ApiVersionHeader"
      responses:
        '204':
          description: Successfully updated state license
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/NoContent"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '400':
          "$ref": "#/components/responses/BadRequestError"
        '401':
          "$ref": "#/components/responses/UnauthorizedError"
        '403':
          "$ref": "#/components/responses/ForbiddenError"
        '404':
          "$ref": "#/components/responses/NotFoundError"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      description: This endpoint will update a <<glossary:branch>> <<glossary:state
        license>>.
      summary: Update a branch state license
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/StateLicenseUpdateBody"
    get:
      tags:
      - Branch State Licenses
      operationId: branch_state_licenses-show
      parameters:
      - name: branch_id
        description: Branch ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - name: state_license_id
        description: State license ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - "$ref": "#/components/parameters/ApiVersionHeader"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StateLicense"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '400':
          "$ref": "#/components/responses/BadRequestError"
        '401':
          "$ref": "#/components/responses/UnauthorizedError"
        '403':
          "$ref": "#/components/responses/ForbiddenError"
        '404':
          "$ref": "#/components/responses/NotFoundError"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      description: This endpoint will retrieve a <<glossary:branch>> <<glossary:state
        license>>.
      summary: Retrieve a branch state license
    delete:
      tags:
      - Branch State Licenses
      operationId: branch_state_licenses-destroy
      parameters:
      - name: branch_id
        description: Branch ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - name: state_license_id
        description: State license ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - "$ref": "#/components/parameters/ApiVersionHeader"
      responses:
        '204':
          description: Successfully deleted state license
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/NoContent"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '400':
          "$ref": "#/components/responses/BadRequestError"
        '401':
          "$ref": "#/components/responses/UnauthorizedError"
        '403':
          "$ref": "#/components/responses/ForbiddenError"
        '404':
          "$ref": "#/components/responses/NotFoundError"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      description: This endpoint will delete a <<glossary:branch>> <<glossary:state
        license>>.
      summary: Delete a branch state license
  "/companies/{company_id}/images/{image_key}":
    put:
      tags:
      - Company Images
      operationId: company_images-update
      parameters:
      - name: company_id
        description: Company ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - name: image_key
        description: Image to be updated.
        required: true
        in: path
        schema:
          type: string
          enum:
          - logo
          - app_icon
          - app_homepage_logo
      - "$ref": "#/components/parameters/ApiVersionHeader"
      responses:
        '204':
          description: Successfully updated company image
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/NoContent"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '400':
          "$ref": "#/components/responses/BadRequestError"
        '401':
          "$ref": "#/components/responses/UnauthorizedError"
        '403':
          "$ref": "#/components/responses/ForbiddenError"
        '404':
          "$ref": "#/components/responses/NotFoundError"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      description: "This endpoint will update a <<glossary:company>>'s image.\n\n<table
        border=1px cellpadding=5px>\n\t<tr>\n\t\t<th>image_key</th>\n\t\t<th>Supported
        File Types</th>\n\t\t<th>Image Dimensions</th>\n\t</tr>\n\t<tr>\n\t\t<td>logo</td>\n\t\t<td>\n\t\t\t<ul>\n\t\t\t\t<li>.jpeg</li>\n\t\t\t\t<li>.jpg</li>\n\t\t\t\t<li>.png</li>\n\t\t\t</ul>\n\t\t</td>\n\t\t<td>1000x313</td>\n\t</tr>\n\t<tr>\n\t\t<td>app_icon</td>\n\t\t<td>\n\t\t\t<ul>\n\t\t\t\t<li>.jpeg</li>\n\t\t\t\t<li>.jpg</li>\n\t\t\t\t<li>.png</li>\n\t\t\t</ul>\n\t\t</td>\n\t\t<td>100x100</td>\n\t</tr>\n\t<tr>\n\t\t<td>app_homepage_logo</td>\n\t\t<td>\n\t\t\t<ul>\n\t\t\t\t<li>.jpeg</li>\n\t\t\t\t<li>.jpg</li>\n\t\t\t\t<li>.png</li>\n\t\t\t</ul>\n\t\t</td>\n\t\t<td>208x32</td>\n\t</tr>\n</table>"
      summary: Update a company's image
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ImageUpdateBody"
    delete:
      tags:
      - Company Images
      operationId: company_images-destroy
      parameters:
      - name: company_id
        description: Company ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - name: image_key
        description: Image to be deleted.
        required: true
        in: path
        schema:
          type: string
          enum:
          - logo
          - app_icon
          - app_homepage_logo
      - "$ref": "#/components/parameters/ApiVersionHeader"
      responses:
        '204':
          description: Successfully deleted company image
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/NoContent"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '400':
          "$ref": "#/components/responses/BadRequestError"
        '401':
          "$ref": "#/components/responses/UnauthorizedError"
        '403':
          "$ref": "#/components/responses/ForbiddenError"
        '404':
          "$ref": "#/components/responses/NotFoundError"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      description: This endpoint will delete a <<glossary:company>>'s image.
      summary: Delete a company's image
  "/companies/{company_id}/links":
    post:
      tags:
      - Company Links
      operationId: company_links-create
      parameters:
      - name: company_id
        description: Company ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - "$ref": "#/components/parameters/ApiVersionHeader"
      responses:
        '201':
          description: Created link
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResourceCreated"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '409':
          description: URL already taken for a company link
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSet"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '400':
          "$ref": "#/components/responses/BadRequestError"
        '401':
          "$ref": "#/components/responses/UnauthorizedError"
        '403':
          "$ref": "#/components/responses/ForbiddenError"
        '404':
          "$ref": "#/components/responses/NotFoundError"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      description: This endpoint will create a <<glossary:company>> <<glossary:link>>.
      summary: Create a company link
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/LinkCreateBody"
    get:
      tags:
      - Company Links
      operationId: company_links-index
      parameters:
      - name: company_id
        description: Company ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - "$ref": "#/components/parameters/Page"
      - "$ref": "#/components/parameters/PageSize"
      - "$ref": "#/components/parameters/CreatedAfter"
      - "$ref": "#/components/parameters/CreatedBefore"
      - "$ref": "#/components/parameters/UpdatedAfter"
      - "$ref": "#/components/parameters/UpdatedBefore"
      - "$ref": "#/components/parameters/ApiVersionHeader"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/LinkPagination"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '400':
          "$ref": "#/components/responses/BadRequestError"
        '401':
          "$ref": "#/components/responses/UnauthorizedError"
        '403':
          "$ref": "#/components/responses/ForbiddenError"
        '404':
          "$ref": "#/components/responses/NotFoundError"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      description: This endpoint will retrieve <<glossary:company>> <<glossary:link>>s.
      summary: Retrieve all company links
  "/companies/{company_id}/links/{link_id}":
    get:
      tags:
      - Company Links
      operationId: company_links-show
      parameters:
      - name: company_id
        description: Company ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - name: link_id
        description: Link ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - "$ref": "#/components/parameters/ApiVersionHeader"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Link"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '400':
          "$ref": "#/components/responses/BadRequestError"
        '401':
          "$ref": "#/components/responses/UnauthorizedError"
        '403':
          "$ref": "#/components/responses/ForbiddenError"
        '404':
          "$ref": "#/components/responses/NotFoundError"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      description: This endpoint will retrieve a <<glossary:company>> <<glossary:link>>.
      summary: Retrieve a company link
    patch:
      tags:
      - Company Links
      operationId: company_links-update
      parameters:
      - name: company_id
        description: Company ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - name: link_id
        description: Link ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - "$ref": "#/components/parameters/ApiVersionHeader"
      responses:
        '204':
          description: Successfully updated company link
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/NoContent"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '409':
          description: URL already taken for a company link
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSet"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '400':
          "$ref": "#/components/responses/BadRequestError"
        '401':
          "$ref": "#/components/responses/UnauthorizedError"
        '403':
          "$ref": "#/components/responses/ForbiddenError"
        '404':
          "$ref": "#/components/responses/NotFoundError"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      description: This endpoint will update a <<glossary:company>> <<glossary:link>>.
      summary: Update a company link
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/LinkUpdateBody"
    delete:
      tags:
      - Company Links
      operationId: company_links-destroy
      parameters:
      - name: company_id
        description: Company ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - name: link_id
        description: Link ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - "$ref": "#/components/parameters/ApiVersionHeader"
      responses:
        '204':
          description: Successfully deleted company link
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/NoContent"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '400':
          "$ref": "#/components/responses/BadRequestError"
        '401':
          "$ref": "#/components/responses/UnauthorizedError"
        '403':
          "$ref": "#/components/responses/ForbiddenError"
        '404':
          "$ref": "#/components/responses/NotFoundError"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      description: This endpoint will delete a <<glossary:company>> <<glossary:link>>.
      summary: Delete a company link
  "/companies/{company_id}/milestones":
    post:
      tags:
      - Company Milestones
      operationId: company_milestones-create
      parameters:
      - name: company_id
        description: Company ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - "$ref": "#/components/parameters/ApiVersionHeader"
      responses:
        '201':
          description: Successfully created milestone
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResourceCreated"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '400':
          "$ref": "#/components/responses/BadRequestError"
        '401':
          "$ref": "#/components/responses/UnauthorizedError"
        '403':
          "$ref": "#/components/responses/ForbiddenError"
        '404':
          "$ref": "#/components/responses/NotFoundError"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      description: This endpoint will create a <<glossary:milestone>> for the given
        <<glossary:company>>.
      summary: Create a company milestone
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/MilestoneCreateBody"
    get:
      tags:
      - Company Milestones
      operationId: company_milestones-index
      parameters:
      - name: company_id
        description: Company ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - "$ref": "#/components/parameters/Page"
      - "$ref": "#/components/parameters/PageSize"
      - "$ref": "#/components/parameters/CreatedAfter"
      - "$ref": "#/components/parameters/CreatedBefore"
      - "$ref": "#/components/parameters/UpdatedAfter"
      - "$ref": "#/components/parameters/UpdatedBefore"
      - "$ref": "#/components/parameters/ApiVersionHeader"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MilestonePagination"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '400':
          "$ref": "#/components/responses/BadRequestError"
        '401':
          "$ref": "#/components/responses/UnauthorizedError"
        '403':
          "$ref": "#/components/responses/ForbiddenError"
        '404':
          "$ref": "#/components/responses/NotFoundError"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      description: |-
        This endpoint retrieves all <<glossary:milestone>> for the given <<glossary:company>>.

        To reorder these milestones, use the `/companies/{company_id}/actions` endpoint.
      summary: Retrieve all company milestones
  "/companies/{company_id}/milestones/{milestone_id}":
    get:
      tags:
      - Company Milestones
      operationId: company_milestones-show
      parameters:
      - name: company_id
        description: Company ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - name: milestone_id
        description: Milestone ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - "$ref": "#/components/parameters/ApiVersionHeader"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Milestone"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '400':
          "$ref": "#/components/responses/BadRequestError"
        '401':
          "$ref": "#/components/responses/UnauthorizedError"
        '403':
          "$ref": "#/components/responses/ForbiddenError"
        '404':
          "$ref": "#/components/responses/NotFoundError"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      description: This endpoint will retrieve a <<glossary:milestone>> for the given
        <<glossary:company>>.
      summary: Retrieve a company milestone record
    patch:
      tags:
      - Company Milestones
      operationId: company_milestones-update
      parameters:
      - name: company_id
        description: Company ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - name: milestone_id
        description: Milestone ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - "$ref": "#/components/parameters/ApiVersionHeader"
      responses:
        '204':
          description: Successfully updated milestone
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/NoContent"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '400':
          "$ref": "#/components/responses/BadRequestError"
        '401':
          "$ref": "#/components/responses/UnauthorizedError"
        '403':
          "$ref": "#/components/responses/ForbiddenError"
        '404':
          "$ref": "#/components/responses/NotFoundError"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      description: This endpoint updates a <<glossary:milestone>> for the given <<glossary:company>>.
      summary: Updates a company milestone
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/MilestoneUpdateBody"
    delete:
      tags:
      - Company Milestones
      operationId: company_milestones-destroy
      parameters:
      - name: company_id
        description: Company ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - name: milestone_id
        description: Milestone ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - "$ref": "#/components/parameters/ApiVersionHeader"
      responses:
        '204':
          description: Successfully deleted milestone
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/NoContent"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '400':
          "$ref": "#/components/responses/BadRequestError"
        '401':
          "$ref": "#/components/responses/UnauthorizedError"
        '403':
          "$ref": "#/components/responses/ForbiddenError"
        '404':
          "$ref": "#/components/responses/NotFoundError"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      description: This endpoint will delete a <<glossary:milestone>> from the given
        <<glossary:company>>.
      summary: Delete a company milestone
  "/companies/{company_id}/regions/{region_id}":
    get:
      tags:
      - Company Regions
      operationId: company_regions-show
      parameters:
      - name: company_id
        description: Company ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - name: region_id
        description: Region ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - "$ref": "#/components/parameters/ApiVersionHeader"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Region"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '400':
          "$ref": "#/components/responses/BadRequestError"
        '401':
          "$ref": "#/components/responses/UnauthorizedError"
        '403':
          "$ref": "#/components/responses/ForbiddenError"
        '404':
          "$ref": "#/components/responses/NotFoundError"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      description: This endpoint retrieves a specific <<glossary:region>>.
      summary: Retrieve a specific region
    patch:
      tags:
      - Company Regions
      operationId: company_regions-update
      parameters:
      - name: company_id
        description: Company ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - name: region_id
        description: Region ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - "$ref": "#/components/parameters/ApiVersionHeader"
      responses:
        '204':
          description: Successfully updated region
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/NoContent"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '400':
          "$ref": "#/components/responses/BadRequestError"
        '401':
          "$ref": "#/components/responses/UnauthorizedError"
        '403':
          "$ref": "#/components/responses/ForbiddenError"
        '404':
          "$ref": "#/components/responses/NotFoundError"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      description: This endpoint updates a <<glossary:region>>.
      summary: Update a region
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/RegionUpdateBody"
    delete:
      tags:
      - Company Regions
      operationId: company_regions-destroy
      parameters:
      - name: company_id
        description: Company ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - name: region_id
        description: Region ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - "$ref": "#/components/parameters/ApiVersionHeader"
      responses:
        '201':
          description: Created <<glossary:asynchronous job>> to delete region.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResourceCreated"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '400':
          "$ref": "#/components/responses/BadRequestError"
        '401':
          "$ref": "#/components/responses/UnauthorizedError"
        '403':
          "$ref": "#/components/responses/ForbiddenError"
        '404':
          "$ref": "#/components/responses/NotFoundError"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      description: "This endpoint will delete a <<glossary:region>>.\n\n> \U0001F647
        Heads up!\nThe region is not deleted immediately, but deleted in an <<glossary:asynchronous
        job>>."
      summary: Delete a region
  "/companies/{company_id}/regions":
    post:
      tags:
      - Company Regions
      operationId: company_regions-create
      parameters:
      - name: company_id
        description: Company ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - "$ref": "#/components/parameters/ApiVersionHeader"
      responses:
        '201':
          description: Created region
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResourceCreated"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '400':
          "$ref": "#/components/responses/BadRequestError"
        '401':
          "$ref": "#/components/responses/UnauthorizedError"
        '403':
          "$ref": "#/components/responses/ForbiddenError"
        '404':
          "$ref": "#/components/responses/NotFoundError"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      description: This endpoint creates a <<glossary:region>>.
      summary: Create a new region
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/RegionPostBody"
    get:
      tags:
      - Company Regions
      operationId: company_regions-index
      parameters:
      - name: company_id
        description: Company ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - name: state
        description: State by which to filter regions.
        required: false
        in: query
        schema:
          "$ref": "#/components/schemas/StateCode"
      - "$ref": "#/components/parameters/Page"
      - "$ref": "#/components/parameters/PageSize"
      - "$ref": "#/components/parameters/CreatedAfter"
      - "$ref": "#/components/parameters/CreatedBefore"
      - "$ref": "#/components/parameters/UpdatedAfter"
      - "$ref": "#/components/parameters/UpdatedBefore"
      - "$ref": "#/components/parameters/ApiVersionHeader"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/RegionPagination"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '400':
          "$ref": "#/components/responses/BadRequestError"
        '401':
          "$ref": "#/components/responses/UnauthorizedError"
        '403':
          "$ref": "#/components/responses/ForbiddenError"
        '404':
          "$ref": "#/components/responses/NotFoundError"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      description: This endpoint will retrieve a <<glossary:company>>'s <<glossary:region>>s.
      summary: Retrieve a company's regions
  "/companies/{company_id}/reports":
    post:
      tags:
      - Company Reports
      operationId: company_reports-generate
      parameters:
      - name: company_id
        description: Company ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - "$ref": "#/components/parameters/ApiVersionHeader"
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResourceCreated"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '400':
          "$ref": "#/components/responses/BadRequestError"
        '401':
          "$ref": "#/components/responses/UnauthorizedError"
        '403':
          "$ref": "#/components/responses/ForbiddenError"
        '404':
          "$ref": "#/components/responses/NotFoundError"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      description: |-
        This endpoint will generate a <<glossary:company>> report.

        The report will be generated as an <<glossary:asynchronous job>> and can be accessed when the job returned in the response has successfully completed.
      summary: Generate a company report
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              anyOf:
              - "$ref": "#/components/schemas/ReportPostBody"
              - "$ref": "#/components/schemas/TimeBoundReportPostBody"
              discriminator:
                propertyName: report_type
                mapping:
                  CO_BRANDED_APPS: "#/components/schemas/TimeBoundReportPostBody"
                  DOCUSIGN_ENVELOPES: "#/components/schemas/TimeBoundReportPostBody"
                  LOAN_APP_DETAILS: "#/components/schemas/TimeBoundReportPostBody"
                  LOAN_APPS_COUNT: "#/components/schemas/TimeBoundReportPostBody"
                  LO_ACTIVITY: "#/components/schemas/TimeBoundReportPostBody"
                  NPS_FEEDBACK: "#/components/schemas/TimeBoundReportPostBody"
                  PACKAGE_TRACKER: "#/components/schemas/TimeBoundReportPostBody"
                  PROSPECTS: "#/components/schemas/TimeBoundReportPostBody"
                  QR_CODES: "#/components/schemas/ReportPostBody"
                  VERIFICATION_OF_ASSETS_ORDERS: "#/components/schemas/TimeBoundReportPostBody"
  "/companies/{company_id}/reports/{report_id}":
    get:
      tags:
      - Company Reports
      operationId: company_reports-download
      parameters:
      - name: company_id
        description: Scope response to company_id
        required: true
        in: path
        schema:
          type: string
      - name: report_id
        description: Scope response to report_id
        required: true
        in: path
        schema:
          type: string
      - "$ref": "#/components/parameters/ApiVersionHeader"
      responses:
        '200':
          description: Success
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
          headers:
            Content-Disposition:
              "$ref": "#/components/headers/ContentDispositionResponseHeader"
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '410':
          description: Report has been archived
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorSet"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '400':
          "$ref": "#/components/responses/BadRequestError"
        '401':
          "$ref": "#/components/responses/UnauthorizedError"
        '403':
          "$ref": "#/components/responses/ForbiddenError"
        '404':
          "$ref": "#/components/responses/NotFoundError"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      description: This endpoint will download a report for a <<glossary:company>>.
      summary: Download a report for a company
  "/companies":
    get:
      tags:
      - Companies
      operationId: companies-index
      parameters:
      - "$ref": "#/components/parameters/Page"
      - "$ref": "#/components/parameters/PageSize"
      - "$ref": "#/components/parameters/CreatedAfter"
      - "$ref": "#/components/parameters/CreatedBefore"
      - "$ref": "#/components/parameters/UpdatedAfter"
      - "$ref": "#/components/parameters/UpdatedBefore"
      - "$ref": "#/components/parameters/ApiVersionHeader"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CompanyPagination"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '400':
          "$ref": "#/components/responses/BadRequestError"
        '401':
          "$ref": "#/components/responses/UnauthorizedError"
        '403':
          "$ref": "#/components/responses/ForbiddenError"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      description: This endpoint will retrieve all <<glossary:company>> records.
      summary: Retrieve all companies
  "/companies/{company_id}":
    get:
      tags:
      - Companies
      operationId: companies-show
      parameters:
      - name: company_id
        description: Company ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - "$ref": "#/components/parameters/ApiVersionHeader"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Company"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '400':
          "$ref": "#/components/responses/BadRequestError"
        '401':
          "$ref": "#/components/responses/UnauthorizedError"
        '403':
          "$ref": "#/components/responses/ForbiddenError"
        '404':
          "$ref": "#/components/responses/NotFoundError"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      description: This endpoint will retrieve a <<glossary:company>> record.
      summary: Retrieve a company record
    patch:
      tags:
      - Companies
      operationId: companies-update
      parameters:
      - name: company_id
        description: Company ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - "$ref": "#/components/parameters/ApiVersionHeader"
      responses:
        '204':
          description: Successfully updated company
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/NoContent"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '400':
          "$ref": "#/components/responses/BadRequestError"
        '401':
          "$ref": "#/components/responses/UnauthorizedError"
        '403':
          "$ref": "#/components/responses/ForbiddenError"
        '404':
          "$ref": "#/components/responses/NotFoundError"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      description: This endpoint will update a <<glossary:company>> record.
      summary: Update a company record
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CompanyUpdateBody"
  "/companies/{company_id}/actions":
    post:
      tags:
      - Companies
      operationId: companies-actions
      parameters:
      - name: company_id
        description: Company ID
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - "$ref": "#/components/parameters/ApiVersionHeader"
      responses:
        '204':
          description: No content
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/NoContent"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '400':
          "$ref": "#/components/responses/BadRequestError"
        '401':
          "$ref": "#/components/responses/UnauthorizedError"
        '403':
          "$ref": "#/components/responses/ForbiddenError"
        '404':
          "$ref": "#/components/responses/NotFoundError"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      description: "This endpoint allows a variety of actions to be taken on a <<glossary:company>>.\n\n>
        \U0001F4CC Available actions\n  **REORDER_MILESTONES** - Reorder <<glossary:milestone>>s"
      summary: Perform action on a company
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              oneOf:
              - "$ref": "#/components/schemas/ReorderMilestonesCompanyAction"
              discriminator:
                propertyName: action
                mapping:
                  reorder_milestones: "#/components/schemas/ReorderMilestonesCompanyAction"
  "/companies/{company_id}/state_licenses":
    post:
      tags:
      - Company State Licenses
      operationId: company_state_licenses-create
      parameters:
      - name: company_id
        description: Company ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - "$ref": "#/components/parameters/ApiVersionHeader"
      responses:
        '201':
          description: Successfully created state license
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResourceCreated"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '400':
          "$ref": "#/components/responses/BadRequestError"
        '401':
          "$ref": "#/components/responses/UnauthorizedError"
        '403':
          "$ref": "#/components/responses/ForbiddenError"
        '404':
          "$ref": "#/components/responses/NotFoundError"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      description: This endpoint will create a <<glossary:state license>> for the
        given <<glossary:company>>.
      summary: Create a company state license
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/LimitedStateLicenseCreateBody"
    get:
      tags:
      - Company State Licenses
      operationId: company_state_licenses-index
      parameters:
      - name: company_id
        description: Company ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - name: state
        description: State by which to filter state licenses.
        required: false
        in: query
        schema:
          "$ref": "#/components/schemas/StateCode"
      - "$ref": "#/components/parameters/Page"
      - "$ref": "#/components/parameters/PageSize"
      - "$ref": "#/components/parameters/CreatedAfter"
      - "$ref": "#/components/parameters/CreatedBefore"
      - "$ref": "#/components/parameters/UpdatedAfter"
      - "$ref": "#/components/parameters/UpdatedBefore"
      - "$ref": "#/components/parameters/ApiVersionHeader"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StateLicensePagination"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '400':
          "$ref": "#/components/responses/BadRequestError"
        '401':
          "$ref": "#/components/responses/UnauthorizedError"
        '403':
          "$ref": "#/components/responses/ForbiddenError"
        '404':
          "$ref": "#/components/responses/NotFoundError"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      description: This endpoint will retrieve all <<glossary:state license>>s for
        the given <<glossary:company>>.
      summary: Retrieve all company state licenses
  "/companies/{company_id}/state_licenses/{state_license_id}":
    get:
      tags:
      - Company State Licenses
      operationId: company_state_licenses-show
      parameters:
      - name: company_id
        description: Company ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - name: state_license_id
        description: State license ID.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - "$ref": "#/components/parameters/ApiVersionHeader"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StateLicense"
          headers:
            X-Api-Version:
              "$ref": "#/components/headers/ApiVersionResponseHeader"
            X-Api-Supported-Versions:
              "$ref": "#/components/headers/ApiSupportedVersionsResponseHeader"
        '400':
          "$ref": "#/components/responses/BadRequestError"
        '401':
[...]
